.px-select-container{
    select{
        &.px-select-list{
            z-index: 99;
        }
    }
}

.rs-grid-panel{
    height: calc(100vh - 190px);
    padding: 5px;
    overflow-x: hidden;
    overflow-y: auto;
    .row{
        height: 100%;
    }
    p{
        margin-bottom: 4px;
    }
}
