<div #jqxWidget class="menu-container">
    <jqxMenu #jqxMenu [width]="'100%'" [keyboardNavigation]="true" (onItemclick)="menuClicked($event)" [autoSizeMainItems]="true"
        [theme]="'energyblue'">
        <ul>
            <li>
                <a routerLink="/dashboard">
                    <i class="fa fa-home fa-fw" aria-hidden="true"></i> {{ 'DASHBOARD' | translate }}
                </a>
            </li>
            <li>
                <i class="fa fa-wrench" aria-hidden="true"></i> &nbsp; {{ 'SETUP' | translate }}
                <ul>
                    <li>
                        <a routerLink="/setup/financial-year">{{ 'FINANCIALYEAR' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/department-master">{{ 'DEPARTMENT' | translate }} {{ 'MASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/chart-of-items">{{ 'CHARTOFITEMS' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/depreciation-ratio">{{ 'DEPRECIATIONRATION' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/branch-master">{{ 'BRANCH' | translate }} {{ 'MASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/supplier-master">{{ 'SUPPLIER' | translate }} {{ 'MASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/site-master">{{ 'SITE' | translate }} {{ 'MASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/employee-details">{{'EMPLOYEEDETAIL'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/asset-accessories-master">{{ 'ASSETACCESSORIESMASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/asset-specification-master">{{ 'ASSETSPECIFICATIONMASTER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/setup/bill-sundry-master">{{ 'BILLSUNDRYMASTER' | translate }}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-cogs" aria-hidden="true"></i> &nbsp; {{ 'OPERATION' | translate }}
                <ul>
                    <li>
                        <a routerLink="/operation/requisition-slip">{{ 'REQUISITIONSLIP' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-issue">{{ 'GOODSISSUE' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-issue-return">{{ 'GOODSISSUERETURN' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-return">{{ 'GOODSRETURN' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-disposal">{{ 'GOODSDISPOSAL' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/purchase-order">{{ 'PURCHASEORDER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-receiving-notes">{{'GOODSRECEIVINGNOTES'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/operation/goods-receiving-notes-opening">{{'GOODSRECEIVINGNOTESOPENING'|translate}}</a>
                    </li>
                    <!-- <li>
                        <a routerLink="/operation/item-insurance">Item Insurance</a>
                    </li> -->
                </ul>
            </li>
            <li>
                <i class="fa fa-clipboard" aria-hidden="true"></i> &nbsp; {{ 'REPORTS' | translate }}
                <ul>
                    <li>
                        <a routerLink="/report/assets-ledger">{{ 'ASSETSLEDGER' | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/report/assets-wise-reports">{{'ASSETSWISEREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/requisition-report">{{'REQUISITIONREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/purchase-order-report">{{'PURCHASEORDERREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/goods-receiving-notes-report">{{'GOODSRECEIPTNOTEREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/goods-issue-report">{{'GOODSISSUEREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/goods-disposal-report">{{'GOODSDISPOSALREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/tax-depreciation-report">{{'TAXDEPRECIATIONREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/stateline-depreciation">{{'STATELINEDEPRECIATIONREPORT'|translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/report/item-repair-maintenance">{{'ITEMREPAIRMAINTENANCEREPORT'|translate}}</a>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-cube"></i> {{ 'UTILITY' | translate }}
                <ul>
                    <li>
                        <a routerLink="/utility/approve-requisition">{{ "APPROVEREQUISITION" | translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/approve-purchase-order">{{ "APPROVEPO" | translate}}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/approve-issue">{{ "APPROVEISSUE" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/organization-master">{{ "ORGANIZATION" | translate }} {{ "MASTER" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/yearly-repair-expenses">{{ "YEARLYREPAIREXPENSES" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/item-repair">{{ "ITEMREPAIR" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/set-serial-number">{{ "GRNUPDATE" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/user">{{ "MANAGEUSER" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/permission">{{ "MANAGEPERMISSION" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/backup">{{ "BACKUP" | translate }}</a>
                    </li>
                    <li>
                        <a routerLink="/utility/change-password">{{ "CHANGEPASSWORD" | translate }}</a>
                    </li>
                </ul>
            </li>
            <li id="Language">
                <i class="fa fa-language fa-fw"></i> {{ 'LANGUAGE' | translate }} : {{ currentLang }}
                <ul>
                    <li>Nepali</li>
                    <li>English</li>
                </ul>
            </li>
            <div style="float:right;">
                <span *ngIf="fy">{{ 'FISCALYEAR' | translate }} : {{ fy }} |</span>
                <span *ngIf="bname">{{ 'BRANCH' | translate }} : {{ bname }} |</span>
                <span *ngIf="uname">{{ 'USER' | translate }} : {{ uname }} |</span>
                <jqxButton style="margin-right: 5px;margin-top: 1px;" [theme]="'energyblue'" (onClick)="logOut()">
                    <i class="fa fa-sign-out"></i> {{ 'LOGOUT' }}
                </jqxButton>
            </div>
        </ul>
    </jqxMenu>
</div>
