<div class="container-fluid tfm-panel">
  <form name="bsmForm" [formGroup]="bsmForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{ "BILLSUNDRYMASTER" | translate }} </h2>
          </div>
          <div class="bg-white p-1">
            <fieldset>
              <legend>{{ "BILLSUNDRY" | translate }}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{ "CODE" | translate }}</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="code" [placeHolder]="'Enter Code'" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "NAME" | translate }}</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="name" [placeHolder]="'Enter Name'" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <br>
                    <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!bsmForm.valid" (onClick)="save(bsmForm.value)">
                      {{ "SAVE" | translate }}
                    </jqxButton>
                  </div>
                </div>

                <div class="col"></div>
                <div class="col"></div>
              </div>
            </fieldset>

          </div>
          <div class="rs-grid-panel bg-white">
            <jqxGrid #bsmGrid [height]="'100%'" [width]="'99.8%'" [source]="bsmDataAdapter" [columns]="bsmColumns" [pageable]="true"
              [filterable]="true" [autorowheight]="true" [sortable]="true" [editable]="true"
              [theme]="'energyblue'" [selectionmode]="'checkbox'" [showfilterrow]="true" (onRowselect)="rowChange($event)"
              (onRowunselect)="rowUnChange($event)" [showtoolbar]="true" [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
            </jqxGrid>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>