<div class="container-fluid tfm-panel">
  <form name="grnForm" [formGroup]="grnForm">
      <div class="row">
          <div class="col-md-12 tfm-panel-right">
              <div class="tfm-panel-container">
                  <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                      <h2> {{'GOODSRECEIVINGNOTESOPENING'|translate}} </h2>
                  </div>
                  <div class="bg-white p-1">
                      <fieldset>
                          <legend>{{'GOODSRECEIPTDETAILOPENING'|translate}}</legend>
                          <div class="row">
                            <div class="col">
                              <div class="form-group">
                                <label>{{'RECEIVE'|translate}} {{'BRANCH'|translate}}</label>
                                <select  formControlName="receiveBranch" (change)="branchChange($event.target.value)"  class="select-control selectpicker select-class select-border">
                                  <option [selected]="true" [value]="''">Choose</option>
                                  <option *ngFor="let branch of branchAdapter" [value]="branch.branchCode">{{ branch.branchName }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col" >
                              <div class="form-group">
                                <label>{{'RECEIVE'|translate}} {{'SITE'|translate}}</label>
                                <select formControlName="receiveSite" class="select-control selectpicker select-class select-border">
                                  <option [selected]="true" [disabled]="true" value=''>Choose</option>
                                  <option *ngFor="let site of siteAdapter" [value]="site.sideCode">{{ site.sideName }}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-group">
                                <label>{{'RECEIVEBY'|translate}}</label>
                                <jqxInput [width]="'100%'" [height]="25" formControlName="receiveBy" [theme]="'energyblue'"></jqxInput>
                              </div>
                            </div>


                            <div class="col">
                              <div class="form-group">
                                <label>{{'REMARKS'|translate}}</label>
                                <jqxInput [width]="'100%'" [height]="25" formControlName="remarks" [theme]="'energyblue'"></jqxInput>
                              </div>
                            </div>
                            <!-- <div class="col-1">
                            </div>
                            <div class="col">
                            </div>
                            <div class="col-2">
                            </div> -->
                          </div>
                      </fieldset>

                  </div>
                  <div class="rs-grid-panel bg-white">
                      <fieldset>
                          <legend>{{'GRNITEMS'|translate}}</legend>
                          <a (click)="addItem()" class="btn btn-sm btn-primary px-btn"> <i class="fa fa-fw fa-plus" aria-hidden="true"></i> {{'ADD'|translate}}</a>
                          <div formArrayName="requisitionItems">
                              <div class="row row-head">
                                  <div class="col-md-2"><p>{{'ITEM'|translate}}</p></div>
                                  <div class="col-md-2"><p>{{'SUPPLIER'|translate}}</p></div>
                                  <div class="col-md-2"><p>{{'SPECIFICATION'|translate}}</p></div>
                                  <div class="col-md-1"><p>{{'QUANTITY'|translate}}</p></div>
                                  <div class="col-md-1"><p>{{'RATE'|translate}}</p></div>
                                  <div class="col-md-1"><p>{{'UNIT'|translate}}</p></div>
                                  <div class="col-md-2"><p>{{'REMARKS'|translate}}</p></div>
                                  <div class="col-md-1"><p>{{'ACTIONS'|translate}}</p></div>
                              </div>
                              <div class="form-array-container">
                                  <div *ngFor="let reqItem of grnForm.get('requisitionItems')['controls']; let i = index" class="form-array-container-inner">
                                      <div class="row p-1 row-body" [formGroupName]="i">
                                          <div class="col-md-2">
                                              <input type="text" (keyup)="itemFilter($event, i)" formControlName="itemCode" class="px-control" placeholder="Item">
                                              <span *ngIf="itemFocus[i]" class="px-select-container">
                                                  <select (change)="itemListSelected($event.target.value, i)" (blur)="itemFocus[i] = false;" size="5" name="itemCode" class="px-control px-select-list" id="itemCode">
                                                      <option *ngFor='let item of itemAdapter[i]' [value]="item.itemCode">{{ item.itemName }}</option>
                                                  </select>
                                              </span>
                                              <small [hidden]="reqItem['controls'].itemCode.valid || !reqItem['controls'].itemCode.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-2">
                                              <select name="supplier" formControlName="supplier" class="px-control px-select-list">
                                                  <option *ngFor='let supplier of supplierAdapter' [value]="supplier.sn">{{ supplier.supplierName }}</option>
                                              </select>
                                              <small [hidden]="reqItem['controls'].supplier.valid || !reqItem['controls'].supplier.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-2">
                                              <input type="text" formControlName="specification" class="px-control" placeholder="Specification">
                                              <small [hidden]="reqItem['controls'].specification.valid || !reqItem['controls'].specification.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-1">
                                              <input type="number" formControlName="receiveQty" class="px-control" placeholder="Quantity">
                                              <small [hidden]="reqItem['controls'].receiveQty.valid || !reqItem['controls'].receiveQty.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-1">
                                              <input type="number" formControlName="rate" class="px-control" placeholder="Rate">
                                              <small [hidden]="reqItem['controls'].rate.valid || !reqItem['controls'].rate.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-1">
                                              <select name="unit" formControlName="unit" class="px-control">
                                                  <option *ngFor='let unit of unitAdapter' [value]="unit.value">{{ unit.name }}</option>
                                              </select>
                                              <small [hidden]="reqItem['controls'].unit.valid || !reqItem['controls'].unit.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-2">
                                              <input type="text" formControlName="remarks" class="px-control" placeholder="Remarks">
                                              <small [hidden]="reqItem['controls'].remarks.valid || !reqItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                                                  * required
                                              </small>
                                          </div>
                                          <div class="col-md-1">
                                              <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="grnForm.get('requisitionItems').length < 2">
                                                  <i class="fa fa-times fa-fw" aria-hidden="true"></i> {{'DELETE'|translate}}
                                              </button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </fieldset>
                      <div class="row">
                          <div class="col-4 offset-6">

                                        <div class="form-group text-right m-2 ">
                                          <label>{{'RECEIVEDATE'|translate}}</label>
                                          <jqxInput [width]="'50%'" [height]="25" formControlName="receiveDate" [placeholder]="'yyyy-mm-dd'" [theme]="'energyblue'"></jqxInput>
                                        </div>

                          </div>
                          <div class="col-2">
                              <div class="form-group text-center m-2">
                                  <jqxButton [theme]="'energyblue'" [disabled]="!grnForm.valid" [width]="100" (onClick)="save(grnForm.value)">
                                     {{'SAVE'|translate}}
                                  </jqxButton>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>

