<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'GOODSISSUEREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'GOODSISSUEDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo (onChange)="branchChanged($event)" [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25'
                      [source]='branchAdapter' [displayMember]="'branchName'" [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col" style="display:none;">
                  <div class="form-group">
                    <label>{{'REQUESTINGSITE'|translate}}</label>
                    <br>
                    <jqxComboBox #reqDepartCombo [placeHolder]="'Select Site'" [width]="'100%'" [height]='25' [source]='reqDepartmentAdapter'
                      [displayMember]="'sideName'" [valueMember]="'sideCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'ITEMNAME'|translate}}</label>
                    <input type="text" (keyup)="itemFilter($event)" placeholder="Search" formControlName="itemCode" class="px-control">
                    <span *ngIf="itemFocus" class="px-select-container">
                      <select (change)="itemListSelected($event.target.value)" (blur)="itemFocus = false;" size="5" name="itemCode" class="px-control px-select-list"
                        id="itemCode">
                        <option disabled="true" value="">Choose Item</option>
                        <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'ITEMISSUEBY'|translate}}</label>
                    <br>
                    <jqxComboBox #issueByCombo [placeHolder]="'Select Issued By'" [width]="'100%'" [height]='25' [source]='issuedByAdapter' [displayMember]="'issuedBy'"
                      [valueMember]="'issuedBy'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>

                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group text-left m-2">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'GOODSISSUEDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer" style="margin: 7px;">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas">
                        <th colspan="2">
                          {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="2">
                          {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                        <th colspan="2">
                          <span *ngIf="siteName"> {{'SITENAME'|translate}}: {{ siteName }}</span> &nbsp;
                        </th>
                        <th colspan="2">
                          <span *ngIf="personName">{{'PERSONNAME'|translate}}: {{ personName }}</span>
                        </th>
                      </tr>
                      <tr>
                        <th>{{'ISSUEDATE'|translate}}</th>
                        <th>{{'ITEMNAME'|translate}}</th>
                        <th>{{'ASSETCODE'|translate}}</th>
                        <th>{{'RECEIVEDATE'|translate}}</th>
                        <th>{{'RECEIVESITE'|translate}}</th>
                        <th>{{'RECEIVEPERSON'|translate}}</th>
                        <th>{{'RECEIVEBRANCH'|translate}}</th>
                        <th>{{'REMARKS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['issueDate'] }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['assetCode'] }}</td>
                        <td>{{ data['receiveDate'] }}</td>
                        <td>{{ data['receiveSite'] }}</td>
                        <td>{{ data['receivePerson'] }}</td>
                        <td>{{ data['receiveBranch'] }}</td>
                        <td>{{ data['remarks'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
