<div style="overflow: hidden;">
    <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
        <form name="supplierForm" [formGroup]="supplierForm" id="supplierForm">
            <fieldset class="jqx-widget-header-energyblue">
                <legend>{{ "SUPPLIER" | translate }} {{ "MASTER" | translate }}</legend>
                <table class="table-w-tooltip">
                    <tr>
                        <td>{{ "SUPPLIER" | translate }} {{ "CODE" | translate }}</td>
                        <td>
                            <jqxInput class="supplierCode" [theme]="'energyblue'" [placeHolder]="'RKT'" [height]="23" [width]="170" formControlName="supplierCode"></jqxInput>
                        </td>
                        <td>{{ "SUPPLIER" | translate }} {{ "NAME" | translate }}
                        </td>
                        <td>
                            <jqxInput class="supplierName" [theme]="'energyblue'" [placeHolder]="'Raj Trade'" [height]="23" [width]="170" formControlName="supplierName"></jqxInput>
                        </td>
                        <td>{{ "SUPPLIER" | translate }} {{ "TYPE" | translate }}
                        </td>
                        <td>
                            <jqxInput class="supplierType" [theme]="'energyblue'" [placeHolder]="'Electronics'" [height]="23" [width]="170" formControlName="supplierType"></jqxInput>
                        </td>
                        <td>{{ "ADDRESS" | translate }}
                        </td>
                        <td>
                            <jqxInput class="address" [theme]="'energyblue'" [placeHolder]="'Chabahil'" [height]="23" [width]="170" formControlName="address"></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ "TELEPHONENO" | translate }}
                        </td>
                        <td>
                            <jqxInput class="teliphoneNumber" [theme]="'energyblue'" [placeHolder]="'985687...'" [height]="23" [width]="170" formControlName="teliphoneNumber"></jqxInput>
                        </td>
                        <td>{{ "EMAIL" | translate }}
                        </td>
                        <td>
                            <jqxInput class="emailAddress" [theme]="'energyblue'" [placeHolder]="'Email Address'" [height]="23" [width]="170" formControlName="emailAddress"></jqxInput>
                        </td>
                        <td>{{ "FAX" | translate }}
                        </td>
                        <td>
                            <jqxInput class="faxNo" [theme]="'energyblue'" [placeHolder]="'5567..'" [height]="23" [width]="170" formControlName="faxNo"></jqxInput>
                        </td>
                        <td>{{ "CONTACTPERSON" | translate }}
                        </td>
                        <td>
                            <jqxInput class="contactPerson" [theme]="'energyblue'" [placeHolder]="'Ramesh Silwal'" [height]="23" [width]="170" formControlName="contactPerson"></jqxInput>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ "VATPANNO" | translate }}
                        </td>
                        <td>
                            <jqxInput class="vatPanNo" [theme]="'energyblue'" [placeHolder]="'1230'" [height]="23" [width]="170" formControlName="vatPanNo"></jqxInput>
                        </td>
                        <td>
                            <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!supplierForm.valid" (onClick)="saveBtn(supplierForm.value)">
                                {{ "SAVE" | translate }}
                            </jqxButton>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </form>
    </jqxValidator>
    <div class="grid-container">
        <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
            [autorowheight]="true" [sortable]="true"  [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
            [showfilterrow]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true"
            [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
        </jqxGrid>
    </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>