<div style="overflow: hidden;">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="employeeForm" [formGroup]="employeeForm" id="employeeForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{'EMPLOYEEDETAIL'|translate}}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{'EMPLOYEECODE'|translate}}</td>
            <td>
              <jqxInput class="empCode" [theme]="'energyblue'" [placeHolder]="'NKJ'" [height]="23" [width]="170" formControlName="empCode"></jqxInput>
            </td>
            <td>{{'FULLNAME'|translate}}
            </td>
            <td>
              <jqxInput class="fullName" [theme]="'energyblue'" [placeHolder]="'Nimesh Kumar Jha'" [height]="23" [width]="170" formControlName="fullName"></jqxInput>
            </td>
            <td>{{'ADDRESS'|translate}}
            </td>
            <td>
              <jqxInput class="address" [theme]="'energyblue'" [placeHolder]="'Rautahat.'" [height]="23" [width]="170" formControlName="address"></jqxInput>
            </td>
            <td>{{'MOBILE'|translate}}
            </td>
            <td>
              <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'98155.....'" [height]="23" [width]="170" formControlName="mobile"></jqxInput>
            </td>
          </tr>
          <tr>
            <td>{{'EMAIL'|translate}}
            </td>
            <td>
              <jqxInput class="email" [theme]="'energyblue'" [placeHolder]="'Email'" [height]="23" [width]="170" formControlName="email"></jqxInput>
            </td>
            <td>{{'BRANCH'|translate}}
            </td>
            <td>
              <select formControlName="branch" (change)="branchChange()" class="selectpicker select-class select-border" style="width:170px;height:23px;">
                <option [selected]="true" value=''>Choose Branch</option>
                <option *ngFor="let branch of branchAdapter" [value]="branch['branchCode']">{{branch['branchName']}}</option>
              </select>
            </td>

            <td>{{'SITE'|translate}}
            </td>
            <td>
              <select formControlName="site" (change)="siteChange()" class="selectpicker select-class select-border" style="width:170px;height:23px;">
                <option [selected]="true" value=''>Choose Site</option>
                <option *ngFor="let site of siteAdapter" [value]="site['sideCode']">{{site['sideName']}}</option>
              </select>
            </td>
            <td>
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!employeeForm.valid" (onClick)="saveBtn(employeeForm.value)">
                  {{'CREATE'|translate}}
                </jqxButton>
              </td>

          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
      [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
      [showfilterrow]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
