<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> Item Specification
            <span *ngIf="grnNoLocal">
              <a routerLink="/operation/item-specification/{{grnNoLocal}}" class="btn btn-sm px-btn">
                Use Last GRN No.
              </a>
            </span>
            <span class="pull-right" *ngIf="grnNoParam">
              <a routerLink="/operation/item-accessories/{{grnNoParam}}" class="btn btn-sm px-btn">
                Item Accessories
              </a>
              <a routerLink="/operation/item-insurance/{{grnNoParam}}" class="btn btn-sm px-btn">
                Item Insurance
              </a>
              <a routerLink="/operation/item-warranty/{{grnNoParam}}" class="btn btn-sm px-btn">
                Item Warranty
              </a>
            </span>
          </h2>
        </div>
        <div class="bg-white p-1">
          <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
            <form name="departmentForm" [formGroup]="departmentForm" id="departmentForm">
              <fieldset>
                <legend>Item Specification</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <td>Item</td>
                    <td>
                      <select formControlName="itemNo" (change)="itemChange($event.target.value)" class="selectpicker select-class select-border"
                        style="width:170px;height:23px;">
                        <option [selected]="true" [disabled]="true" value=''>Choose Item</option>
                        <option *ngFor="let item of itemsAdapter" [value]="item['itemNo']">
                          {{ item['assetCode'] }} ({{ item['itemName'] }})
                        </option>
                      </select>
                    </td>
                    <td></td>
                    <td>Same Specification In All
                    </td>
                    <td>
                      <select formControlName="sameSpecificationIdInAll" class="selectpicker select-class select-border">
                        <option [value]="'N'">No</option>
                        <option [value]="'Y'">Yes</option>
                      </select>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                  </tr>
                </table>
              </fieldset>
            </form>
          </jqxValidator>
        </div>
        <div class="grid-container bg-white p-2">
          <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
            [autorowheight]="true" [sortable]="false" [editable]="true" [theme]="'energyblue'" [selectionmode]="'checkbox'"
            [showfilterrow]="true" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
        <div class="row">
          <div class="col">
            <div class="button-container bg-white p-2 text-right">
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [width]="120" [height]="30" [disabled]="!departmentForm.valid" (onClick)="saveBtn(departmentForm.value)">
                Save
              </jqxButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>