<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{ "MANAGEUSER" | translate }}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="uForm" [formGroup]="uForm">
            <fieldset>
              <legend>{{ "USER" | translate }} {{ "DETAIL" | translate }}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{ "USER" | translate }} {{ "CODE" | translate }} *</label>
                    <jqxInput formControlName="userCode" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "FULLNAME" | translate }} *</label>
                    <jqxInput formControlName="userName" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "EMAILADDRESS" | translate }} *</label>
                    <jqxInput formControlName="email" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "PASSWORD" | translate }} *</label>
                    <jqxPasswordInput formControlName="userPassword" [width]="250" [height]="25"></jqxPasswordInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "USER" | translate }} {{ "TYPE" | translate }}*</label>
                    <select class="px-control" formControlName="userType">
                      <option [selected]='true' [disabled]='true' [value]=''>-- {{ "SELECT" | translate }} --</option>
                      <option *ngFor="let usertype of userTypes" [value]='usertype.type'> {{ usertype.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "CONTACTNO" | translate }} *</label>
                    <jqxInput formControlName="contactNumber" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "ADDRESS" | translate }} *</label>
                    <jqxInput formControlName="address" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "BRANCH" | translate }} *</label>
                    <br>
                    <jqxComboBox #branchCombo [placeHolder]="'Select Branch'" [width]="250" [height]='25' [source]='branchAdapter' 
                     [displayMember]="'branchName'" [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "SITE" | translate }}</label>
                    <br>
                    <jqxComboBox #siteCombo [placeHolder]="'Select Site'" [width]="250" [height]='25' [source]='siteAdapter' 
                     [displayMember]="'sideName'" [valueMember]="'sideCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-right m-2">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!uForm.valid" [width]="100" (onClick)="save(uForm.value)">
                      {{ "SAVE" | translate }}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
            [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'" [selectionmode]="'checkbox'"
            [showfilterrow]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
            [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>