<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'ASSETSLEDGER'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'ASSETSDETAILS'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'ITEM'|translate}} </label>
                    <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                    <span *ngIf="itemFocus" class="px-select-container">
                      <select (change)="itemListSelected($event.target.value)" (blur)="itemFocus = false;" size="5" name="itemCode" class="px-control px-select-list"
                        id="itemCode">
                        <option disabled="true" value="">Choose Item</option>
                        <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo [placeHolder]="'Select Branch'" [width]='250' [height]='25' [source]='branchAdapter' [multiSelect]="true"
                      [displayMember]="'branchName'" [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="250" [height]="25"></jqxInput>

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-right m-2">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                      {{'GENERATE'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'ASSETSLEDGERDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>
            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas[1]">
                        <th colspan="2">
                          {{ reportDatas[1][0]['itemName'] }}
                        </th>
                        <th colspan="3">
                          {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="5">
                          {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'SN'|translate}}</th>
                        <th>{{'ASSETCODE'|translate}}</th>
                        <th>{{'BILLDATE'|translate}}</th>
                        <th>{{'BRANCH'|translate}}</th>
                        <th>{{'RATE'|translate}}</th>
                        <th>{{'CHARGE'|translate}}</th>
                        <th>{{'TOTALAMOUNT'|translate}}</th>
                        <th>{{'DEPRECIATION'|translate}}</th>
                        <th>{{'FACEVALUE'|translate}}</th>
                        <th class="last-td">{{'ACTIONS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas[0]">
                      <tr *ngFor="let data of reportDatas[0]; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{ data['assetCode'] }}</td>
                        <td>{{ data['billDate'] }}</td>
                        <td>{{ data['branch'] }}</td>
                        <td>{{ data['rate'] }}</td>
                        <td>{{ data['charge'] }}</td>
                        <td>{{ data['totalAmt'] }}</td>
                        <td>{{ data['depreciation'] }}</td>
                        <td>{{ (data['totalAmt'] - data['depreciation']) }}</td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            {{'DETAIL'|translate}} {{'VIEW'|translate}}
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="reportDatas[1]">
                      <tr>
                        <td colspan="5" class="total">{{'TOTAL'|translate}}</td>
                        <td>{{ reportDatas[1][0]['charge'] }}</td>
                        <td>{{ reportDatas[1][0]['depreciation'] }}</td>
                        <td>{{ reportDatas[1][0]['totalAmt'] }}</td>
                        <td>{{ (reportDatas[1][0]['totalAmt'] - reportDatas[1][0]['depreciation']) | number : '1.2-2' }}</td>
                        <td>&nbsp;</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailsReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div class="scroll-container" id="printContent">
      <p style="text-align: center;" *ngIf="reportDatas[1]"> Item Name: {{reportDatas[1][0]['itemName']}}</p>
      <p style="text-align: center;" *ngIf="reportDatas[1]"> Asset Code: {{itemDetails}}</p>
      <div class="row justify-content-md-center">
        <div class="col col-left">
          <div>
            <div class="insurance" *ngIf="insurances">
              <fieldset>
                <legend>Insurance Details</legend>
                <h5>{{insurances['insurancesCompaniesName']}}</h5>
                <p>Company Code:{{insurances['insurancesCompaniesCode']}}</p>
                <p>Address:{{insurances['address']}}</p>
                <p>Office Contact No:{{insurances['officeContactNo']}}</p>
                <p>Contact Person:{{insurances['contactPerson']}}</p>
                <p>Contact Person No:{{insurances['contactPersonNo']}}</p>
                <p>Insurance Date From:{{insurances['insuranceDateFrom']}}</p>
                <p>Insurance Date To:{{insurances['insuranceDateTo']}}</p>
                <p>Insurance Amount:{{insurances['insuranceAmount']}}</p>
              </fieldset>
            </div>
            <div class="info-container">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Accessories Name</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="accessoriesDatas">
                <tr *ngFor="let data of accessoriesDatas">
                  <td>{{ data['accessoriesName'] }}</td>
                  <td>{{ data['remarks'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col col-right">
          <div>
            <div class="warranty" *ngIf="warranty">
              <fieldset>
                <legend>Warranty Details</legend>
                <h5>{{warranty['warrantyCompany']}}</h5>
                <p>Address:{{warranty['warrantyCompanyAddress']}}</p>
                <p>Contact Person:{{warranty['contactPerson"']}}</p>
                <p>Contact No:{{warranty['contactNo']}}</p>
                <p>Warranty From:{{warranty['warrantyFrom']}}</p>
                <p>Warranty Month:{{warranty['warrantyMonth']}}</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </fieldset>
            </div>
            <div class="info-container">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Specification Name</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="specificationDatas">
                <tr *ngFor="let data of specificationDatas">
                  <td>{{ data['specificationName'] }}</td>
                  <td>{{ data['remarks'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container imgage-div" *ngIf="itemImages.length>0">
        <div class="row">
          <ng-container *ngFor="let imageName of itemImages;let i=index;">
            <div class="col" [id]="'data'+i" style="border: 1px dotted #add; text-align: right;padding: 5px;margin: 5px;">
              <img [src]="fileUrl+imageName.fileName" class="image-class">
              <button (click)="DeletePhoto(imageName.fileName,i)">
                <i style="color:red;" class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>