<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'ASSETSWISEREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'ASSETSDETAILS'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo [placeHolder]="'Select Branch'" [width]='250' [height]='25' [source]='branchAdapter' [displayMember]="'branchName'"
                      [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'HIERARCHY'|translate}} *</label>
                    <br>
                    <jqxComboBox #hierarchyCombo [placeHolder]="'Select Hierarchy'" [width]='250' [height]='25' [source]='hierarchyAdapter' [displayMember]="'name'"
                      [valueMember]="'name'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="250" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-right m-2">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'ASSETSWISEDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer" style="margin: 6px;">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas">
                        <th colspan="2">
                          {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="2">
                          {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'ITEMNAME'|translate}}</th>
                        <th>{{'ITEMCODE'|translate}}</th>
                        <th>{{'TOTALITEM'|translate}}</th>
                        <th>{{'PURCHASEAMOUNT'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td [ngClass]="data['trAccount']=='N'? 'text-bold' : 'text-normal'">{{ data['item_name'] }}</td>
                        <td [ngClass]="data['trAccount']=='N'? 'text-bold' : 'text-normal'">{{ data['itemCode'] }}</td>
                        <td [ngClass]="data['trAccount']=='N'? 'text-bold' : 'text-normal'">{{ data['totalItem'] }}</td>
                        <td [ngClass]="data['trAccount']=='N'? 'text-bold' : 'text-normal'">{{ data['purchaseAmount'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>