<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{ "MANAGEPERMISSION" | translate }}</h2>
        </div>
        <div class="bg-white p-1">
          <form>
            <fieldset>
              <legend>{{ "USERPERMISSIONDETAIL" | translate }}</legend>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label>{{ "SELECTUSER" | translate }} *</label>
                    <br>
                    <jqxComboBox #userCombo [(ngModel)]="selectedUser" name="selectedUser" [placeHolder]="'Select User'" [width]="250" [height]='25' [source]='userAdapter' 
                     [displayMember]="'userName'" [valueMember]="'userCode'" [searchMode]="'containsignorecase'" [showCloseButtons]="true">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>&nbsp;</label><br>
                    <jqxButton [theme]="'energyblue'" [disabled]="!selectedUser" [width]="150" (onClick)="getUserPermissions()">
                      {{ "LOADPERMISSION" | translate }}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
            [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'"
            [showfilterrow]="true" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>