<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'REQUISITIONREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'REQUISITIONDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo (onChange)="branchChanged($event)" [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25'
                      [source]='branchAdapter' [multiSelect]="true" [displayMember]="'branchName'" [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col" style="display:none;">
                  <div class="form-group">
                    <label>{{'SITE'|translate}}</label>
                    <br>
                    <jqxComboBox #siteCombo [placeHolder]="'Select Site'" [width]="'100%'" [height]='25' [source]='siteAdapter' [displayMember]="'sideName'"
                      [valueMember]="'sideCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'REQUESTEDBY'|translate}}</label>
                    <br>
                    <jqxComboBox #requestedByCombo [placeHolder]="'Select request person'" [width]="'100%'" [height]='25' [source]='requestByAdapter'
                      [displayMember]="'RequestBy'" [valueMember]="'RequestBy'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'REQUISITIONITEM'|translate}}</label>
                    <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                    <span *ngIf="itemFocus" class="px-select-container">
                      <select size="5" name="itemCode" (blur)="itemFocus = false;" class="px-control px-select-list" id="itemCode" (change)="itemListSelected($event.target.value)">
                        <option disabled="true" value="">Choose Item</option>
                        <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'STATUS'|translate}} *</label>
                    <br>
                    <jqxComboBox #statusCombo [placeHolder]="'Select Status'" [width]="'100%'" [height]='25' [source]='statusAdapter' [displayMember]="'name'"
                      [valueMember]="'name'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left m-3">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="'40%'" (onClick)="save(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'REQUISITIONDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="3">
                          {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }} &nbsp; {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                        <th colspan="2">
                          <span *ngIf="siteName"> {{'SITENAME'|translate}}: {{ siteName }}</span> &nbsp;
                        </th>
                        <th colspan="4">
                          <span *ngIf="personName">{{'PERSONNAME'|translate}}: {{ personName }}</span>
                        </th>
                      </tr>
                      <tr>
                        <th>{{'REQUESTINGDATE'|translate}}</th>
                        <th>{{'REQUISITIONNO'|translate}}</th>
                        <th>{{'ITEMNAME'|translate}}</th>
                        <th>{{'FINANCIALYEAR'|translate}}</th>
                        <th>{{'SPECIFICATION'|translate}}</th>
                        <th>{{'REQUESTINGQTY'|translate}}</th>
                        <th>{{'BRANCH'|translate}}</th>
                        <th>{{'REMARKS'|translate}}</th>
                        <th class="last-td">{{'ACTIONS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['requestingDate'] }}</td>
                        <td>{{ data['requestingNo'] }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['FY'] }}</td>
                        <td>{{ data['specification'] }}</td>
                        <td>{{ data['requestingQty'] }}</td>
                        <td>{{ data['branch'] }}</td>
                        <td>{{ data['remarks'] }}</td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            {{'DETAIL'|translate}} {{'VIEW'|translate}}
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailsReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div id="page-wrap" *ngIf="printOfficialDetails">
      <div class="invoice-header">
        <p class="meta-sub">नेपाल सरकार</p>
        <div class="meta-header">
          <div>
            <p>प्रमुख: .....................................</p>
          </div>
          <div>{{officeDetails['orgName']}}</div>
        </div>
        <div class="meta-info">
          <div>
            <p>भण्डार शाखा: {{printOfficialDetails['branch']}}</p>
          </div>
          <div>
            <p class="meta-invoice-title">माग फाराम</p>
          </div>
        </div>

      </div>

      <div class="invoice-container">
        <p class="invoice-title-number"> निकासी नम्बर: {{printOfficialDetails['itemNo']}} &nbsp;&nbsp;&nbsp;&nbsp; आर्थिक बर्ष: {{printOfficialDetails['fy']}}
        </p>
        <table class="invoice-table">
          <thead>
            <tr>
              <th>क्र.सं</th>
              <th>समानको नाम</th>
              <th>स्पेसिफिकेसन
                <br> (आवश्यक पर्नेमा)</th>
              <th>समानको परिमाण</th>
              <th>इकाई</th>
              <!-- <th>निकासी समानको परिमाण</th>
              <th>जिन्सी खाता पाना नं. </th>
              <th>कैफियत</th> -->
            </tr>
          </thead>
          <tbody *ngIf="printItemDetails">
            <tr *ngFor="let printData of printItemDetails; let i=index;">
              <td>{{i+1}}</td>
              <td>{{printData['itemName']}}</td>
              <td>{{printData['specification']}}</td>
              <td>{{printData['requestingQty']}}</td>
              <td>{{printData['unit']}}</td>
              <!-- <td>{{printData['']}}</td>
              <td>{{printData['']}}</td>
              <td>{{printData['']}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="invoice-footer">
        <div class="invoice-footer-col f-left">
          <div>
            <p class="invoice-footer-field">
              माग गर्नेको दस्तखत:
            </p>
            <p class="invoice-footer-field">
              नाम : {{printOfficialDetails['enterBy']}}
            </p>
            <p class="invoice-footer-field">
              मिति : {{printOfficialDetails['enterDate']}}
            </p>
            <p class="invoice-footer-field">
              प्रयोजन :
            </p>
            <br>
            <br>
            <p class="invoice-footer-field">
              जिन्सी खातामा चढाउनेको दस्तखत :
            </p>
            <p class="invoice-footer-field">
              मिति :
            </p>
          </div>
        </div>
        <div class="invoice-footer-col f-right w-35">
          <div>
            <div class="invoice-footer-signature">
              <div>
                <span class="check-box"></span> क) बजारबाट खरिद गरिदिनु
              </div>
              <div>
                <span class="check-box"></span> ख) मौज्दातबाट दिनु
              </div>
            </div>
            <br>
            <br>
            <p class="invoice-footer-field">
              आदेश दिनेको दस्तखत:
            </p>
            <p class="invoice-footer-field">
              नाम: {{printOfficialDetails['approveBy']}}
            </p>
            <p class="invoice-footer-field">
              मिति : {{printOfficialDetails['approveDate']}}
            </p>
            <br>
            <p class="invoice-footer-field">
              मालसमान बुझिलिनेको दस्तखत:
            </p>
            <p class="invoice-footer-field">
              मिति :
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
