<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="assetAccessoriesForm" [formGroup]="assetAccessoriesForm" id="assetAccessoriesForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ "ASSETACCESSORIESMASTER" | translate }}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{ "ITEM" | translate }} {{ "CODE" | translate }}</td>
            <td>
              <input type="text" style="height: 23px;" (keyup)="itemFilter($event)" placeholder="Search" formControlName="itemCode" class="px-control">
              <span *ngIf="itemFocus" class="px-select-container">
                <select (change)="itemListSelected($event.target.value)" (blur)="itemFocus = false;" size="5" name="itemCode" class="px-control px-select-list"
                  id="itemCode">
                  <option *ngFor='let item of itemCodes' [value]="item.itemCode">{{ item.itemName }}</option>
                </select>
              </span>
            </td>
            <td>{{ "ACCESSORIESNAME" | translate }}
            </td>
            <td>
              <jqxInput class="accessoriesName" [theme]="'energyblue'" [placeHolder]="'accessories name'" [height]="23" [width]="170" formControlName="accessoriesName"></jqxInput>
            </td>
            <td>{{ "MAPPINGUNIT" | translate }}
            </td>
            <td>
              <jqxInput class="mappingUnit" [theme]="'energyblue'" [placeHolder]="'mapping unit'" [height]="23" [width]="170" formControlName="mappingUnit"></jqxInput>
            </td>
            <td>
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!assetAccessoriesForm.valid" (onClick)="saveBtn(assetAccessoriesForm.value)">
                {{ "SAVE" | translate }}
              </jqxButton>
            </td>
          </tr>
          <!-- <tr>
            <td *ngIf="itemCodes">Item Code
             
          </tr> -->
        </table>
      </fieldset>
    </form>
  </jqxValidator>

  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
      [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
      [showfilterrow]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>