/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";


body {
    overflow: hidden;
    background: #efefef;
}

.navbar{
    padding: 0.2rem 1rem; // default 0.5rem 1rem;
}

.bg-default-gradient{
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c4911+0,668944+52,618a3d+99 */
    background: #2c4911; /* Old browsers */
    background: -moz-linear-gradient(top, #2c4911 0%, #668944 52%, #618a3d 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2c4911 0%,#668944 52%,#618a3d 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2c4911 0%,#668944 52%,#618a3d 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4911', endColorstr='#618a3d',GradientType=0 ); /* IE6-9 */
}

.bg-default-white{
    color: #000;
    border: 1px solid #b1caea;
    background: #e0e9f5;
    // background: linear-gradient(to bottom, #b7b6b6 1%, #c9c9c9 51%, #c1c1c1 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888888', endColorstr='#c1c1c1',GradientType=0 ); /* IE6-9 */
}

.form-group{
    label{
        margin-bottom: .3rem;
        font-size: .75rem;
    }
    .form-control{
        padding: 0.2rem 0.45rem !important;
        // margin-left: 7.5px !important;
        border-color: #4f7030 !important;
        background-color: #fbfbfb !important;
    }
}

//  Scroll Bar Design

// ::-webkit-scrollbar-track
// {
//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
//     // border-radius: 10px;
//     background-color: #F5F5F5;
// }

// ::-webkit-scrollbar
// {
//     width: 12px;
//     background-color: #616263;
// }

// ::-webkit-scrollbar-thumb
// {
//     // border-radius: 10px;
//     // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
//     background-color: #555;
// }
.select-border{
    border-radius: 2px;
}
