<div [@routerTransition] style="padding: 5px;">
    <div class="row">
        <div class="col-2 col-sm-4 col-md-2">
            <div class="dash-block bg-white p-2 mt-2 mb-4">
                <div class="d-i-block w-28 text-center vertical-align-middle">
                    <i class="fa fa-calendar fa-3x"></i>
                </div>
                <div class="d-i-block w-68">
                    <p>Fiscal Year</p>
                    <strong>{{ fiscalYear }}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-4 col-md-2">
            <div class="dash-block bg-white p-2 mt-2 mb-4">
                <div class="d-i-block w-28 text-center vertical-align-middle">
                    <i class="fa fa-sitemap fa-3x"></i>
                </div>
                <div class="d-i-block w-68">
                    <p>Branches</p>
                    <strong>{{branch}}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-4 col-md-2">
            <div class="dash-block bg-white p-2 mt-2 mb-4">
                <div class="d-i-block w-28 text-center vertical-align-middle">
                    <i class="fa fa-th-large fa-3x"></i>
                </div>
                <div class="d-i-block w-68">
                    <p>Department</p>
                    <strong>{{department}}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-4 col-md-2">
            <div class="dash-block bg-white p-2 mt-2 mb-4">
                <div class="d-i-block w-28 text-center vertical-align-middle">
                    <i class="fa fa-map-marker fa-3x"></i>
                </div>
                <div class="d-i-block w-68">
                    <p>Site</p>
                    <strong>{{site}}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-4 col-md-2">
            <div class="dash-block bg-white p-2 mt-2 mb-4">
                <div class="d-i-block w-28 text-center vertical-align-middle">
                    <i class="fa fa-truck fa-3x"></i>
                </div>
                <div class="d-i-block w-68">
                    <p>Supplier</p>
                    <strong>{{supplier}}</strong>
                </div>
            </div>
        </div>
        <div class="col-2 col-sm-4 col-md-2">
            <div class="dash-block bg-white p-2 mt-2 mb-4">
                <div class="d-i-block w-28 text-center vertical-align-middle">
                    <i class="fa fa-users fa-3x"></i>
                </div>
                <div class="d-i-block w-68">
                    <p>Users</p>
                    <strong>{{user}}</strong>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <app-nav-list-widget [ListTitle]="Setup['title']" [ListIcon]="Setup['icon']" [ListData]="Setup['items']"></app-nav-list-widget>
        </div>
        <div class="col-md-3">
            <app-nav-list-widget [ListTitle]="Operation['title']" [ListIcon]="Operation['icon']" [ListData]="Operation['items']"></app-nav-list-widget>
        </div>
        <div class="col-md-3">
            <app-nav-list-widget [ListTitle]="reports['title']" [ListIcon]="reports['icon']" [ListData]="reports['items']"></app-nav-list-widget>
        </div>
        <div class="col-md-3">
            <app-nav-list-widget [ListTitle]="utility['title']" [ListIcon]="utility['icon']" [ListData]="utility['items']"></app-nav-list-widget>
        </div>
    </div>
</div>