.dash-block{
    color: #4f719e;
    border:1px solid #a4bed4;

    .fa{
        color: #d87b7b;
    }
    .vertical-align-middle{
        vertical-align: text-bottom;
    }
    .d-i-block{
        display: inline-block;
    }
    p{
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px;
        color: #d04e4e;
    }
    strong {
        font-size: 2.4rem;
        margin-top: -10px;
        display: block;
    }
}