.grid-container-dep{
    height: calc(100vh - 70px);
    width: 100%;
    .container-title{
        padding: 5px 15px;
        background: #d1e1f5;
        h4{
            font-size: 1rem;
        }
    }
}