<div class="container-fluid tfm-panel">
    <form name="rsForm" [formGroup]="rsForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> {{ "REQUISITIONSLIP" | translate }} </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>{{ "REQUISITIONDETAIL" | translate }}</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "REQUISITIONDATE" | translate }}</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="enteredDate" [placeHolder]="'eg: year-month-day'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "REQUESTINGBRANCH" | translate }}</label>
                                        <select formControlName="branch" (change)="branchChange(rsForm.value['branch'])" class="select-control selectpicker select-class select-border">
                                           <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                            <option *ngFor="let branch of branchAdapter" [value]="branch.branchCode">{{ branch.branchName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "REQUESTINGSITE" | translate }}</label>
                                        <select formControlName="site" class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                            <option *ngFor="let site of siteAdapter" [value]="site.sideCode">{{ site.sideName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                        <div class="form-group">
                                            <label>{{ "REQUESTINGPERSON" | translate }}</label>
                                            <select formControlName="requestingPerson" class="select-control selectpicker select-class select-border">
                                                <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                                <option *ngFor="let reqPer of reqPersonAdapter" [value]="reqPer.empCode">{{ reqPer.fullName }}</option>
                                            </select>
                                        </div>
                                    </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "REMARKS" | translate }}</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="remark" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="rs-grid-panel bg-white">
                        <fieldset>
                            <legend>{{ "REQUISITIONITEMS" | translate }}</legend>
                            <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                                <i class="fa fa-fw fa-plus" aria-hidden="true"></i> {{ "ADDITEMS" | translate }}</a>
                            <div formArrayName="requisitionItems">
                                <div class="row row-head">
                                    <div class="col-md-2">
                                        <p>{{ "ITEM" | translate }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>{{ "SPECIFICATION" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "QUANTITY" | translate }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>{{ "UNIT" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "REQUIREDDAY" | translate }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>{{ "REMARKS" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "ACTION" | translate }}</p>
                                    </div>
                                </div>
                                <div class="form-array-container">
                                    <div *ngFor="let reqItem of rsForm.get('requisitionItems')['controls']; let i = index" class="form-array-container-inner">
                                        <div class="row p-1 row-body" [formGroupName]="i">
                                            <div class="col-md-2">
                                                <input type="text" (keydown)="itemFilter($event, i)" (keyup)="itemFilter($event, i)" (focus)="itemFilter($event, i)" formControlName="itemName"   class="px-control" >
                                                <span *ngIf="itemFocus[i]" class="px-select-container">
                                                    <select (change)="itemListSelected($event.target.value, i)" (blur)="itemFocus[i] = false;" size="5" name="itemCode" class="px-control px-select-list"
                                                    id="itemCode"  >
                                                        <option *ngFor='let item of itemAdapter[i]'   [value]="item.itemCode "  [selected]="true">{{ item.itemName }}</option>
                                                    </select>
                                                </span>
                                                <small [hidden]="reqItem['controls'].itemCode.valid || !reqItem['controls'].itemCode.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="specification" class="px-control">
                                                <small [hidden]="reqItem['controls'].specification.valid || !reqItem['controls'].specification.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="requestingQty" class="px-control">
                                                <small [hidden]="reqItem['controls'].requestingQty.valid || !reqItem['controls'].requestingQty.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <select name="unit" formControlName="unit" class="px-control">
                                                    <option *ngFor='let unit of unitAdapter' [value]="unit.value">{{ unit.name }}</option>
                                                </select>
                                                <small [hidden]="reqItem['controls'].unit.valid || !reqItem['controls'].unit.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="requiredDay" class="px-control">
                                                <small [hidden]="reqItem['controls'].requiredDay.valid || !reqItem['controls'].requiredDay.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="remarks" class="px-control">
                                                <small [hidden]="reqItem['controls'].remarks.valid || !reqItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="rsForm.get('requisitionItems').length < 2">
                                                    <i class="fa fa-times fa-fw" aria-hidden="true"></i> {{ "REMOVE" | translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    &nbsp;
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>{{ "ENTERORDERBY" | translate}}</label>
                                    <jqxInput [width]="'100%'" [height]="25" formControlName="enteredOrderName" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <label>&nbsp;</label><br>
                                    <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid" [width]="100" (onClick)="save(rsForm.value)">
                                        {{ "SAVE" | translate}}
                                    </jqxButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
