<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{ "ITEMREPAIR" | translate }} </h2>
        </div>
        <div class="px-tab-container">
          <jqxTabs #repairTab [width]='"99.6%"' [height]='"99.5%"' [position]='"top"' [animationType]='"none"' [selectionTracker]='false' [theme]="'energyblue'">
            <ul>
              <li style="margin-left: 30px;">{{ "REPAIRENTRY" | translate }}</li>
              <li>{{ "REPAIRPENDING" | translate }}</li>
            </ul>
            <div>
              <form name="irForm" [formGroup]="irForm">
                <fieldset>
                  <legend>{{ "REPAIRDETAIL" | translate }}</legend>
                  <div class="row">
                    <div class="form-group col-3">
                      <label>{{ "ITEM" | translate }} *</label>
                      <input type="text" (keyup)="itemFilter($event)" formControlName="itemNo" class="px-control">
                      <span *ngIf="itemFocus" class="px-select-container">
                        <select (change)="itemListSelected($event.target.value)" (blur)="itemFocus = false;" size="5" name="itemNo" class="px-control px-select-list"
                          id="itemNo">
                          <option *ngFor='let item of itemAdapter' [attr.selected]="0" [value]="item.itemNo">{{ item.assetCode }}</option>
                        </select>
                      </span>
                    </div>
                    <div class="form-group col-3">
                      <label>{{ "FISCALYEAR" | translate }} *</label>
                      <input type="text" formControlName="fy" class="px-control" placeholder="eg: 7475">
                    </div>
                    <div class="form-group col-3">
                      <label>{{ "REPAIRCAUSE" | translate }} *</label>
                      <input type="text" formControlName="repairCouse" class="px-control">
                    </div>
                    <div class="form-group col-2">
                      <label>{{ "REPAIRDATE" | translate }}</label>
                      <input type="text" formControlName="repairDate" class="px-control">
                    </div>
                    <div class="form-group col-3">
                      <label>{{ "REPAIRAMOUNT" | translate }} *</label>
                      <input type="text" formControlName="repairAmount" class="px-control">
                    </div>
                    <div class="form-group col-3">
                      <label>{{ "SERVICECENTERNAME" | translate }} *</label>
                      <input type="text" formControlName="serviceCenterName" class="px-control">
                    </div>
                    <div class="form-group col-3">
                      <label>{{ "SERVICECENTERADDRESS" | translate }} *</label>
                      <input type="text" formControlName="serviceCenterAddress" class="px-control">
                    </div>
                    <div class="form-group col-2">
                      <label>{{ "SERVICECENTERCONTACT" | translate }} *</label>
                      <input type="number" formControlName="serviceCenterContact" class="px-control">
                    </div>
                    <div class="form-group col-3">
                      <label>{{ "ENTERBY" | translate }} *</label>
                      <input type="text" formControlName="enterOrderBy" class="px-control">
                    </div>
                    <div class="from-group col-2 m-2">
                      <label></label><br>
                      <jqxButton [theme]="'energyblue'" [disabled]="!irForm.valid && irForm.touched" [width]="100" (onClick)="save(irForm.value)">
                        {{ "SAVE" | translate }}
                      </jqxButton>
                    </div>
                  </div>
                </fieldset>
              </form>
              <div class="rs-grid-panel bg-white">
                <jqxGrid #irGrid [width]="'100%'" [height]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns" [pageable]="false"
                  [editable]="true" [autorowheight]="false" [theme]="'energyblue'" [selectionmode]="'checkbox'" [showtoolbar]="false"
                  [keyboardnavigation]="true" [columngroups]="gridcolumngroups">
                </jqxGrid>
              </div>
            </div>
            <div>
              <jqxGrid #repairPendingGrid [height]="'99.8%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
                [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'" [selectionmode]="'simple'"
                [showfilterrow]="true" [showtoolbar]="false" [keyboardnavigation]="true">
              </jqxGrid>
            </div>
          </jqxTabs>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
