.tfm-panel {
    .tfm-panel-container{
        overflow: hidden !important;
        .rs-grid-panel{
            height: 53vh;
            padding: 4px;
        }
    }
}
.px-tab-container{
    height: calc(100vh - 70px) !important;
}

.jqx-tabs-headerWrapper {
    height: 23px !important;
}

.jqx-tabs-title-container {
    height: 25px !important;
}

.jqx-tabs-title {
    height: 11px !important;
}