<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="fyForm" [formGroup]="fyForm" id="fyForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ "FINANCIALYEAR" | translate }}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{ "FINANCIALYEAR" | translate }}
              <td>
                <jqxInput class="fy" [theme]="'energyblue'" [placeHolder]="'YYYY/YYYY'" [height]="23" [width]="160" formControlName="fy"></jqxInput>
              </td>
              <td>{{ "FINANCIALYEAR" | translate }} {{ "SYMBOL" | translate }}
              </td>
              <td>
                <jqxInput class="fySymbol" [theme]="'energyblue'" [placeHolder]="'7475'" [height]="23" [width]="160" formControlName="fySymbol"></jqxInput>
              </td>
              <td>{{ "FINANCIALYEAR" | translate }} {{ "START" | translate }} ({{ "BS" | translate }})
              </td>
              <td>

                <jqxInput class="returnDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'" [height]="23" [width]="170" formControlName="fysYear"></jqxInput>
                <!-- <select formControlName="fys_day" class="selectpicker select-class select-border" style="width:58px;height:23px;">ys_day
                  <option [selected]="true" [disabled]="true" value=''>{{ "DAY" | translate }}</option>
                  <option *ngFor="let d of days" [value]="d">{{d}}</option>
                </select>
                <select formControlName="fys_month" class="selectpicker select-class select-border" style="width:58px;height:23px;">
                  <option [selected]="true" [disabled]="true" value=''>{{ "MONTH" | translate }}</option>
                  <option *ngFor="let m of months" [value]="m">{{m}}</option>
                </select>
                <select formControlName="fys_year" class="selectpicker select-class select-border" style="width:58px;height:23px;">
                  <option [selected]="true" [disabled]="true" value=''>{{ "YEAR" | translate }}</option>
                  <option *ngFor="let y of years" [value]="y">{{y}}</option>
                </select> -->
              </td>
              <td>{{ "FINANCIALYEAR" | translate }} {{ "START" | translate }} ({{ "BS" | translate }})
              </td>
              <td>
                <jqxInput class="returnDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'" [height]="23" [width]="170" formControlName="fyeYear"></jqxInput>
                <!-- <select formControlName="fye_day" class="selectpicker select-class select-border" style="width:58px;height:23px;">
                  <option [selected]="true" [disabled]="true" value=''>{{ "DAY" | translate }}</option>
                  <option *ngFor="let d of days" [value]="d">{{d}}</option>
                </select>
                <select formControlName="fye_month" class="selectpicker select-class select-border" style="width:58px;height:23px;">
                  <option [selected]="true" [disabled]="true" value=''>{{ "MONTH" | translate }}</option>
                  <option *ngFor="let m of months" [value]="m">{{m}}</option>
                </select>
                <select formControlName="fye_year" class="selectpicker select-class select-border" style="width:58px;height:23px;">
                  <option [selected]="true" [disabled]="true" value=''>{{ "YEAR" | translate }}</option>
                  <option *ngFor="let y of years" [value]="y">{{y}}</option>
                </select> -->
              </td>
              <td>
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!fyForm.valid" (onClick)="saveBtn(fyForm.value)">
                  {{ "SAVE" | translate }}
                </jqxButton>
              </td>
              <td>
                <select formControlName="fye_previous" class="selectpicker select-class select-border" style="width:58px;height:23px;">
                    <option [selected]="true" [disabled]="true" value=''>{{ "DAY" | translate }}</option>
                    <option *ngFor="let d of days" [value]="d">{{d}}</option>
                  </select>
              </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <!-- <jqxPanel #jPanel [width]="'99.9%'" [height]="'94.2%'"> -->
    <div class="grid-container">
        <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
        [autorowheight]="true" (onRowselect)= "rowChange($event)" (onRowunselect)= "rowUnChange($event)" [sortable]="true" [editable]="true"  [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="true"
        [rendertoolbar]="rendertoolbar" [keyboardnavigation]="true">
      </jqxGrid>
    </div>

  <!-- </jqxPanel> -->
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>
