<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'ITEMREPAIRMAINTENANCEREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="irmForm" [formGroup]="irmForm">
            <fieldset>
              <legend>{{'ITEMREPAIRMAINTENANCEDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'ITEMCODE'|translate}}</label>
                    <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                    <span *ngIf="itemFocus" class="px-select-container">
                      <select size="5" name="itemCode" (blur)="itemFocus = false;" class="px-control px-select-list" id="itemCode" (change)="itemListSelected($event.target.value)">
                        <option disabled="true" value="">Choose Item</option>
                        <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'ITEMNO'|translate}}</label>
                    <input type="text" (keyup)="itemStoreFilter($event)" formControlName="itemNo" class="px-control">
                    <span *ngIf="itemFocusStore" class="px-select-container">
                      <select size="5" name="itemNo" (blur)="itemFocusStore = false;" class="px-control px-select-list" id="itemNo" (change)="itemStoreListSelected($event.target.value)">
                        <option disabled="true" value="">Choose Item</option>
                        <option *ngFor='let item of itemStoreAdapter' [value]="item.itemNo">{{ item.assetCode }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}}*</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}}*</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left m-2">
                    <label class="pt-4">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!irmForm.valid" [width]="100" (onClick)="save(irmForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'ITEMREPAIRMAINTENANCEDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer" style="margin: 7px;">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas">
                        <th colspan="6">
                          {{'DATEFROM'|translate}}: {{ irmForm.value['dateFrom'] }}
                        </th>
                        <th colspan="6">
                          {{'DATETO'|translate}}: {{ irmForm.value['dateTo'] }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'ITEMNO'|translate}}</th>
                        <th>{{'APPROVEDATE'|translate}}</th>
                        <th>{{'APPROVEBY'|translate}}</th>
                        <th>{{'ENTERORDERBY'|translate}}</th>
                        <th>{{'ENTERDATE'|translate}}</th>
                        <th>{{'FINANCIALYEAR'|translate}}</th>
                        <th>{{'SERVICECENTERADDRESS'|translate}}</th>
                        <th>{{'SERVICECENTERCONTACT'|translate}}</th>
                        <th>{{'REPAIRDATE'|translate}}</th>
                        <th>{{'SERVICECENTERNAME'|translate}}</th>
                        <th>{{'REPAIRAMOUNT'|translate}}</th>
                        <th>{{'REPAIRCAUSE'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['itemNo'] }}</td>
                        <td>{{ data['approveDate'] }}</td>
                        <td>{{ data['approveBy'] }}</td>
                        <td>{{ data['enterOrderBy'] }}</td>
                        <td>{{ data['enterDate'] }}</td>
                        <td>{{ data['fy'] }}</td>
                        <td>{{ data['serviceCenterAddress'] }}</td>
                        <td>{{ data['serviceCenterContact'] }}</td>
                        <td>{{ data['repairDate'] }}</td>
                        <td>{{ data['serviceCenterName'] }}</td>
                        <td>{{ data['repairAmount'] }}</td>
                        <td>{{ data['repairCouse'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>