<div class="container-fluid tfm-panel">
  <form name="grnForm" [formGroup]="grnForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'GOODSRECEIVINGNOTES'|translate}} </h2>
          </div>
          <div class="rs-grid-panel bg-white">
            <jqxGrid #grnGrid [width]="'100%'" [height]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns" [pageable]="false"
              [editable]="true" [autorowheight]="false" [theme]="'energyblue'" [selectionmode]="'checkbox'" [showtoolbar]="false"
              [keyboardnavigation]="true">
            </jqxGrid>
          </div>
          <div class="bg-white">
            <fieldset>
              <legend>{{'GOODSRECEIPTDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'RECEIVE'|translate}} {{'BRANCH'|translate}}</label>
                    <select formControlName="receiveBranch" (change)="branchChange($event.target.value)" class="select-control selectpicker select-class select-border">
                      <option [selected]="true" [disabled]="true" value=''></option>
                      <option *ngFor="let branch of branchAdapter" [value]="branch.branchCode">{{ branch.branchName }}</option>
                    </select>

                  </div>
                </div>
                <div class="col" >
                  <div class="form-group">
                    <label>{{'RECEIVESITE'|translate}}</label>
                    <select formControlName="receiveSite" class="select-control selectpicker select-class select-border">
                      <option [selected]="true" [disabled]="true" value=''></option>
                      <option *ngFor="let site of siteAdapter" [value]="site.sideCode">{{ site.sideName }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'RECEIVEBY'|translate}}</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="receiveBy" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'RECEIVEDATE'|translate}}</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="receiveDate" [placeholder]="'yyyy-mm-dd'" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'REMARKS'|translate}}</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="remarks" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-1">
                </div>
                <div class="col">
                </div>
                <div class="col-2">
                  <div class="form-group text-right m-2 pt-3">
                    <jqxButton [theme]="'energyblue'" [disabled]="!grnForm.valid" [width]="100" (onClick)="save(grnForm.value)">
                      {{'SAVE'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<jqxWindow #billSundryWindow [width]="'50%'" [height]="300"
  [showCollapseButton]="false" [isModal]="true" [showCloseButton]="false"  [autoOpen]="false">
  <div #windowHeader>
    Bill Sundry
  </div>
  <div style="overflow-y: auto;" #windowContent>
      <form name="grnBillForm" [formGroup]="grnBillForm">
        <div class="row">
            <div class="col-6">
              <label>Grn</label>
              <jqxInput [width]="'100%'" [height]="25" formControlName="grn" [theme]="'energyblue'"></jqxInput>
            </div>
            <br>
        </div>
        <div formArrayName="billSundry">
            <div *ngFor="let billSundryItem of grnBillForm.get('billSundry')['controls']; let i = index" class="form-array-container-inner">
              <div class="row p-1 row-body" [formGroupName]="i">
                  <div class="col-md-3">
                      <input type="hidden" name="sundryCode" formControlName="sundryCode">
                      <input type="text" name="sundryName" formControlName="sundryName" class="px-control" placeholder="Name" [disabled]="true">
                  </div>
                  <div class="col-md-4">
                      <input type="text" name="amount" formControlName="amount" class="px-control" placeholder="Amount" [disabled]="true">
                      <small [hidden]="billSundryItem['controls'].amount.valid || !billSundryItem['controls'].amount.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                      </small>
                  </div>
                  <div class="col-md-4">
                      <input type="text" name="remarks" formControlName="remarks" class="px-control" placeholder="Remarks">
                      <small [hidden]="billSundryItem['controls'].remarks.valid || !billSundryItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                      </small>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-3">
            <jqxButton [theme]="'energyblue'" [disabled]="!grnBillForm.valid" [width]="100" (onClick)="saveBillSundry(grnBillForm.value)">
              Save
            </jqxButton>
          </div>
        </div>
      </form>
  </div>
</jqxWindow>


<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
