<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> Item Warranty
            <span *ngIf="grnNoLocal" class="pull-right">
              <a routerLink="/operation/item-insurance/{{grnNoLocal}}" class="btn btn-sm px-btn">
                Use Last GRN No.
              </a>
            </span>
            <span class="pull-right" *ngIf="grnNoParam">
              <a routerLink="/operation/item-accessories/{{grnNoParam}}" class="btn btn-sm px-btn">
                Add Item Accessories
              </a>
              <a routerLink="/operation/item-specification/{{grnNoParam}}" class="btn btn-sm px-btn">
                Add Item Specification
              </a>
              <a routerLink="/operation/item-insurance/{{grnNoParam}}" class="btn btn-sm px-btn">
                Add Item Insurance
              </a>
            </span>
          </h2>
        </div>
        <div class="bg-white p-1">
          <form name="iwForm" [formGroup]="iwForm">
            <fieldset>
              <legend>Warranty Detail</legend>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label>Item</label>
                    <br>
                    <select formControlName="itemNo" class="px-control selectpicker select-class select-border" style="width:170px;height:23px;">
                      <option [selected]="true" [disabled]="true" value=''>Choose Item</option>
                      <option *ngFor="let item of itemsAdapter" [value]="item['itemNo']">
                        {{ item['assetCode'] }} ({{ item['itemName'] }})
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Company</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyCompany" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Company Address</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyCompanyAddress" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Contact No.</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="contactNo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Contact Person</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="contactPerson" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Warranty From</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyFrom" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>Warranty Month</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyMonth" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label>Same in All</label>
                    <select formControlName="sameInAll" class="px-control selectpicker select-class select-border">
                      <option [value]="'N'">No</option>
                      <option [value]="'Y'">Yes</option>
                    </select>
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group text-right m-1">
                    <br/>
                    <jqxButton [theme]="'energyblue'" [disabled]="!iwForm.valid" [width]="100" (onClick)="save(iwForm.value)">
                      Save
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="row">
            <div class="col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>