<div style="overflow: hidden;">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="branchForm" [formGroup]="branchForm" id="branchForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ "BRANCH" | translate }} {{ "MASTER" | translate }}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{ "BRANCH" | translate }} {{ "CODE" | translate }} </td>
            <td>
              <jqxInput class="branchCode" [theme]="'energyblue'" [placeHolder]="'KTM'" [height]="23" [width]="170" formControlName="branchCode"></jqxInput>
            </td>
            <td>{{ "BRANCH" | translate }} {{ "NAME" | translate }}
            </td>
            <td>
              <jqxInput class="branchName" [theme]="'energyblue'" [placeHolder]="'kathmandu'" [height]="23" [width]="170" formControlName="branchName"></jqxInput>
            </td>
            <td>{{ "CONTACTNO" | translate }}
            </td>
            <td>
              <jqxInput class="contactNo" [theme]="'energyblue'" [placeHolder]="'9849859..'" [height]="23" [width]="170" formControlName="contactNo"></jqxInput>
            </td>
            <td>{{ "STATE" | translate }}
            </td>
            <td>
              <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'5'" [height]="23" [width]="170" formControlName="state"></jqxInput>
            </td>
          </tr>
          <tr>
            <td>{{ "DISTRICT" | translate }}
            </td>
            <td>
              <jqxInput class="district" [theme]="'energyblue'" [placeHolder]="'banke'" [height]="23" [width]="170" formControlName="district"></jqxInput>
            </td>
            <td>{{ "MUNICIPALITY" | translate }}
            </td>
            <td>
              <jqxInput class="municipality" [theme]="'energyblue'" [placeHolder]="'kohalpur'" [height]="23" [width]="170" formControlName="municipality"></jqxInput>
            </td>
            <td>{{ "WARD" | translate }}
            </td>
            <td>
              <jqxInput class="ward" [theme]="'energyblue'" [placeHolder]="'04'" [height]="23" [width]="170" formControlName="ward"></jqxInput>
            </td>
            <td>{{ "LOCATION" | translate }}
            </td>
            <td>
              <jqxInput class="location" [theme]="'energyblue'" [placeHolder]="'location'" [height]="23" [width]="170" formControlName="location"></jqxInput>
            </td>
          </tr>
          <tr>
            <td>{{ "CONTACTPERSON" | translate }}
            </td>
            <td>
              <jqxInput class="contactPersion" [theme]="'energyblue'" [placeHolder]="'Manis Mallik'" [height]="23" [width]="170" formControlName="contactPersion"></jqxInput>
            </td>
            <td>
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!branchForm.valid" (onClick)="saveBtn(branchForm.value)">
                {{ "SAVE" | translate }}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
      [autorowheight]="true" [sortable]="true" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'" [selectionmode]="'checkbox'"
      [showfilterrow]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>