<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'TAXDEPRECIATIONREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'TAXDEPRECIATIONDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25' [source]='branchAdapter' [displayMember]="'branchName'"
                      [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>{{'FINANCIALYEAR'|translate}}</label>
                    <br>
                    <jqxComboBox #fiscalYCombo [placeHolder]="'Select Fiscal Year'" [width]="'100%'" [height]='25' [source]='fiscalYearAdapter'
                      [displayMember]="'fy'" [valueMember]="'fySymbol'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group text-left m-2">
                    <label class="pt-4">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'TAXDEPRECIATIONDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer" style="margin: 7px;overflow:scroll;">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{'GROUP'|translate}}</th>
                        <th>{{'ITEMNAME'|translate}}</th>
                        <th>{{'RATE'|translate}}</th>
                        <th>{{'OPENING'|translate}}</th>
                        <th>{{'UPTOPOUSH'|translate}}</th>
                        <th>{{'MAGHCHAITRA'|translate}}</th>
                        <th>{{'BAISHAKASHAD'|translate}}</th>
                        <th>{{'ABSORBEDPORTION'|translate}}</th>
                        <th>{{'ALLOWABLEAMOUNT'|translate}}</th>
                        <th>{{'DISPOSALAMOUNT'|translate}}</th>
                        <th>{{'DEPRECIATIONBASISFORTHEYEAR'|translate}}</th>
                        <th>{{'depreciationForThisYear'|translate}}</th>
                        <th>{{'DEPRECIATEDATTHEEND'|translate}}</th>
                        <th>{{'DEPRECIATEDVALUEAFTERREPAIR'|translate}}</th>
                        <th>{{'UNABSORVEDADDITION'|translate}}</th>
                        <th> {{'UNABSORBEDREPAIREXPENCES'|translate}}</th>
                        <th>{{'TOTALDEPRECIATIONBASISFORNEXTYEAR'|translate}}</th>
                        <th>{{'SEVENPERCENTOFDEPRECIATIONBASEREPAIR'|translate}}</th>
                        <th>{{'REPAIRAMOUNT'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td> {{ data['groupName'] }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['rate'] }}</td>
                        <td>{{ data['opening'] }}</td>
                        <td>{{ data['S_P'] }}</td>
                        <td>{{ data['M_C'] }}</td>
                        <td>{{ data['B_A'] }}</td>
                        <td>{{ data['absorbedPortion'] }}</td>
                        <td>{{ data['allowableAmount'] }} </td>
                        <td>{{ data['disposalAmt'] }}</td>
                        <td>{{ data['depreciationBasisForTheYear'] }}</td>
                        <td>{{ data['depreciationForThisYear'] }}</td>
                        <td>{{ data['depreciatedValue'] }}</td>
                        <td>{{ data['depAfterRepair'] }}</td>
                        <td>{{ data['unabsorbedAddition'] }}</td>
                        <td>{{ data['unabsorbedRepairExp'] }}</td>
                        <td>{{ data['totalDepreciationBasisForNextYear'] }} </td>
                        <td>{{ data['dep7Precent'] }}</td>
                        <td>{{ data['repairAmt'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>