<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'GOODSDISPOSALREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'GOODSDISPOSALDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25' [source]='branchAdapter' [displayMember]="'branchName'"
                      [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DISPOSALTYPE'|translate}}</label>
                    <br>
                    <jqxComboBox #disposalCombo  [placeHolder]="'Select Disposal'" [width]="'100%'" [height]='25'
                      [source]='disposalAdapter' [displayMember]="'name'" [valueMember]="'value'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left m-2">
                    <label class="pt-4">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                     {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'GOODSDISPOSALDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer" style="margin: 7px;">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas">
                        <th colspan="5">
                          {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="5">
                          {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'DISPOSALDATE'|translate}}</th>
                        <th>{{'ITEMNAME'|translate}}</th>
                        <th>{{'ASSETCODE'|translate}}</th>
                        <th>{{'DISPOSALTYPE'|translate}}</th>
                        <th>{{'DISPOSALBY'|translate}}</th>
                        <th>{{'TOTALAMOUNT'|translate}}</th>
                        <th>{{'DEPRECIATIONAMOUNT'|translate}}</th>
                        <th>{{'DISPOSALAMOUNT'|translate}}</th>
                        <th>{{'PROFITLOSS'|translate}}</th>
                        <th>{{'BRANCH'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['disposalDate'] }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['assetCode'] }}</td>
                        <td>{{ data['disposalType'] }}</td>
                        <td>{{ data['disposalBy'] }}</td>
                        <td>{{ data['totalAmt'] }}</td>
                        <td>{{ data['depreciationAmt'] }}</td>
                        <td>{{ data['disposalAmount'] }}</td>
                        <td *ngIf="data.pl >=0 ">{{ data['pl'] }}</td>
                        <td *ngIf="!(data.pl >=0)">({{ (data['pl'] * (-1)) }})</td>
                        <td>{{ data['branch'] }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>