<div class="container-fluid tfm-panel">
  <div class="scroll-container">
    <div class="row justify-content-md-center">
      <div class="col">
        <div>
          <div class="insurance" *ngIf="insurances">
            <fieldset>
              <legend>Insurance Details</legend>
              <h5>{{insurances['insurancesCompaniesName']}}</h5>
              <p>Company Code:{{insurances['insurancesCompaniesCode']}}</p>
              <p>Address:{{insurances['address']}}</p>
              <p>Office Contact No:{{insurances['officeContactNo']}}</p>
              <p>Contact Person:{{insurances['contactPerson']}}</p>
              <p>Contact Person No:{{insurances['contactPersonNo']}}</p>
              <p>Insurance Date From:{{insurances['insuranceDateFrom']}}</p>
              <p>Insurance Date To:{{insurances['insuranceDateTo']}}</p>
              <p>Insurance Amount:{{insurances['insuranceAmount']}}</p>
            </fieldset>
          </div>
          <div class="info-container">
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Accessories Name</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody *ngIf="accessoriesDatas">
              <tr *ngFor="let data of accessoriesDatas">
                <td>{{ data['accessoriesName'] }}</td>
                <td>{{ data['remarks'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div>
          <div class="warranty" *ngIf="warranty">
            <fieldset>
              <legend>Warranty Details</legend>
              <h5>{{warranty['warrantyCompany']}}</h5>
              <p>Address:{{warranty['warrantyCompanyAddress']}}</p>
              <p>Contact Person:{{warranty['contactPerson"']}}</p>
              <p>Contact No:{{warranty['contactNo']}}</p>
              <p>Warranty From:{{warranty['warrantyFrom']}}</p>
              <p>Warranty Month:{{warranty['warrantyMonth']}}</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </fieldset>
          </div>
          <div class="info-container">
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Specification Name</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody *ngIf="specificationDatas">
              <tr *ngFor="let data of specificationDatas">
                <td>{{ data['specificationName'] }}</td>
                <td>{{ data['remarks'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>