<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> Requesting History of <span *ngIf="requestingPerson">{{requestingPerson}}</span></h2>
        </div>
        <div class="bg-white p-1">
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered" *ngIf="requestingHistory.length>0">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Requesting No</th>
                        <th>Item Name</th>
                        <th>Requesting Qty</th>
                        <th>Receive Qty</th>
                        <th>Remarks</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of requestingHistory">
                        <td>{{data['DATE']}}</td>
                        <td>{{data['REQUESTING_NO']}}</td>
                        <td>{{data['ITEM_NAME']}}</td>
                        <td>{{data['REQUESTING_QTY']}} &nbsp;{{data['UNIT']}}</td>
                        <td>{{data['ISSUED_QTY']}} &nbsp;{{data['UNIT']}}</td>
                        <td>{{data['REMARK']}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>