<div class="container-fluid tfm-panel">
    <form name="approveReqForm" [formGroup]="approveReqForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> {{ "APPROVEPO" | translate }} </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>{{ "PODETAIL" | translate }}</legend>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{ "BRANCH" | translate }}</label>
                                        <select formControlName="branchCode" (change)="branchChange(approveReqForm.value['branchCode'])" class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                            <option *ngFor="let branch of branchAdapter" [value]="branch.branchCode">{{ branch.branchName }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="box-container grid-box-container">
                        <jqxGrid #groupGrid [width]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns" [pageable]="false" [height]="'200'"
                            [autorowheight]="false" [theme]="'energyblue'" [selectionmode]="'checkbox'" [showtoolbar]="true"
                            [rendertoolbar]="gridRenderToolbar" [keyboardnavigation]="true">
                        </jqxGrid>
                    </div>
                    <div class="box-container grid-box-container">
                        <jqxGrid #orderGrid [width]="'100%'" [source]="orderDataAdapter" [columns]="orderColumns" [pageable]="false" [height]="'200'"
                            [autorowheight]="false" [theme]="'energyblue'" [showtoolbar]="true" [rendertoolbar]="orderRenderToolbar"
                            [keyboardnavigation]="true">
                        </jqxGrid>
                    </div>
                    <div class="submit-form">
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label>{{ "APPROVEBY" | translate }}</label>
                                <jqxInput class="approveBy" [theme]="'energyblue'" [placeHolder]="'Shyam Sharma.'" [height]="23" [width]="170" formControlName="approveBy"></jqxInput>
                            </div>
                            <div class="form-group col-md-2">
                                <label>{{ "APPROVEDATE" | translate }}</label>
                                <jqxInput class="approveDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'" [height]="23" [width]="170" formControlName="approveDate"></jqxInput>
                            </div>
                            <div class="form-group text-right m-2">
                                <label class="mt-4">&nbsp;</label>
                                <jqxButton [theme]="'energyblue'" [disabled]="!approveReqForm.valid" [width]="100" (onClick)="approve(approveReqForm.value)">
                                    <i class="fa fa-check" style="color: #5eba7d;" aria-hidden="true"></i> {{ "APPROVE" | translate }}
                                </jqxButton>
                            </div>
                            <div class="form-group text-right m-2">
                                <label class="mt-4">&nbsp;</label>
                                <jqxButton [theme]="'energyblue'" [disabled]="!approveReqForm.valid" [width]="100" (onClick)="reject(approveReqForm.value)">
                                    <i style="color: #cc0000;" class="fa fa-times" aria-hidden="true"></i> {{ "REJECT" | translate }}
                                </jqxButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<jqxWindow #myWindow [width]="1000" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
        This is your window content!!
    </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>