<div class="container-fluid tfm-panel">
  <form name="rsForm" [formGroup]="rsForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{ "GOODSISSUE" | translate }} </h2>
          </div>
          <div class="bg-white p-1">
            <fieldset>
              <legend>{{ "GOODSDETAIL" | translate }}</legend>
              <div class="row">
                <div class="col-1">
                  <div class="form-group">
                    <label>{{ "FISCALYEAR" | translate }}</label>
                    <select formControlName="fySymbol" style="width: 100px;" class="select-control selectpicker select-class select-border">
                      <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                      <option *ngFor="let fYear of fiscalYears;let i=index" [value]="fYear.fySymbol">{{ fYear.fy }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "BRANCH" | translate }}</label>
                    <select  (change)="branchChange(rsForm.value['branchCode'])" class="select-control selectpicker select-class select-border" formControlName="branchCode">
                      <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                      <option *ngFor="let branch of branchs" [value]="branch.branchCode">{{ branch.branchName }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-1" style="display:none;">
                  <div class="form-group">
                    <label>{{ "SITE" | translate }}</label>
                    <select formControlName="sideCode" class="select-control selectpicker select-class select-border">
                      <option [selected]="true" [disabled]="true" value=''>{{ "SELECT" | translate }}</option>
                      <option *ngFor="let site of sites" [value]="site.sideCode">{{ site.sideName }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{ "PERSONNAME" | translate }}</label>
                    <select formControlName="personName" class="select-control selectpicker select-class select-border">
                      <option [selected]="true" [disabled]="true" value=''>{{ "SELECT" | translate }}</option>
                      <option *ngFor="let person of personAdapter" [value]="person.empCode">{{ person.fullName }}</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left">
                    <br>
                    <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid" [width]="100" (onClick)="search(rsForm.value)">
                      {{ "SEARCH" | translate }}
                    </jqxButton>
                    <jqxButton [theme]="'energyblue'" [disabled]="!rsForm.valid" [width]="210" (onClick)="ViewHistory(rsForm.value)">
                      {{ "VIEWHISTORY" | translate }}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="rs-grid-panel bg-white">
            <fieldset style="margin: 6px!important;">
              <legend>{{ "ISSUEITEMS" | translate}}</legend>
              <div formArrayName="requisitionItems">
                <div class="row row-head">
                  <div class="col-md-1">
                    {{ "GOODS" | translate}}
                  </div>
                  <div class="col-md-2">
                    {{ "DEPARTMENT" | translate}}
                  </div>
                  <div class="col-md-2">
                    {{ "ITEM" | translate}} {{ "NUMBER" | translate}}
                  </div>
                  <div class="col-md-2">
                    {{ "REQUISITIONNO" | translate }}
                  </div>
                  <div class="col-md-2">
                    {{ "RECEIVINGPERSON" | translate }}
                  </div>
                  <div class="col-md-2">
                    {{ "REMARKS" | translate }}
                  </div>
                  <div class="col-md-1">
                    <input type="checkbox" (change)="checkAll($event)"> {{ "ALL" | translate }}
                  </div>
                </div>
                <div class="form-array-container">
                  <div *ngFor="let reqItem of rsForm.get('requisitionItems')['controls']; let i = index" class="form-array-container-inner">
                    <div class="row p-1 row-body" [formGroupName]="i">
                      <div class="col-md-1" *ngIf="issueItems">
                        {{issueItems[i].itemName}}
                      </div>
                      <div class="col-md-1" *ngIf="!issueItems">
                        &nbsp;
                      </div>
                      <div class="col-md-2" *ngIf="issueItems">
                        {{issueItems[i].siteName}}
                      </div>
                      <div class="col-md-2" *ngIf="!issueItems">
                        &nbsp;
                      </div>
                      <div class="col-md-2">
                        <input type="text" (keyup)="itemFilter($event, i)" formControlName="itemNo" class="px-control">
                        <span *ngIf="itemFocus[i]" class="px-select-container">
                          <select (change)="itemListSelected($event.target.value, i)" (blur)="itemFocus[i] = false;" size="5" name="itemNo" class="px-control px-select-list"
                            id="itemNo">
                            <option *ngFor='let item of itemAdapter[i]' [value]="item.itemNo">{{ item.assetCode }}</option>
                          </select>
                        </span>
                        <small [hidden]="reqItem['controls'].itemNo.valid || !reqItem['controls'].itemNo.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="requestingNo" class="px-control">
                        <small [hidden]="reqItem['controls'].requestingNo.valid || !reqItem['controls'].requestingNo.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="receivePerson" class="px-control">
                        <small [hidden]="reqItem['controls'].receivePerson.valid || !reqItem['controls'].receivePerson.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="remarks" class="px-control">
                        <small [hidden]="reqItem['controls'].remarks.valid || !reqItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1" style="padding-left:20px;">
                        <input type="checkbox" formControlName="issueStatus">
                        <a (click)="viewItem(reqItem['controls'].itemNo.value)">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset style="margin: 6px!important;">
              <div class="row">
                <div class="form-group col-md-2">
                  <label>{{ "ORDERBY" | translate}}</label>
                  <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'Shyam Sharma.'" [height]="23" [width]="170" formControlName="issueOrderBy"></jqxInput>
                </div>
                <div class="form-group col-md-2">
                  <label>{{ "ISSUEDATE" | translate}}</label>
                  <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'" [height]="23" [width]="170" formControlName="issueDate"></jqxInput>
                </div>
                <div class="form-group text-right m-2">
                  <label class="mt-4">&nbsp;</label>
                  <jqxButton [theme]="'energyblue'"  [width]="100" (onClick)="save(rsForm.value)">
                    {{ "SAVE" | translate}}
                  </jqxButton>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <div class="scroll-container">
      <div class="row justify-content-md-center">
        <div class="col">
          <div>
            <div class="insurance" *ngIf="insurances">
              <fieldset>
                <legend>Insurance Details</legend>
                <h5>{{insurances['insurancesCompaniesName']}}</h5>
                <p>Company Code:{{insurances['insurancesCompaniesCode']}}</p>
                <p>Address:{{insurances['address']}}</p>
                <p>Office Contact No:{{insurances['officeContactNo']}}</p>
                <p>Contact Person:{{insurances['contactPerson']}}</p>
                <p>Contact Person No:{{insurances['contactPersonNo']}}</p>
                <p>Insurance Date From:{{insurances['insuranceDateFrom']}}</p>
                <p>Insurance Date To:{{insurances['insuranceDateTo']}}</p>
                <p>Insurance Amount:{{insurances['insuranceAmount']}}</p>
              </fieldset>
            </div>
            <div class="info-container">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Accessories Name</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="accessoriesDatas">
                <tr *ngFor="let data of accessoriesDatas">
                  <td>{{ data['accessoriesName'] }}</td>
                  <td>{{ data['remarks'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col">
          <div>
            <div class="warranty" *ngIf="warranty">
              <fieldset>
                <legend>Warranty Details</legend>
                <h5>{{warranty['warrantyCompany']}}</h5>
                <p>Address:{{warranty['warrantyCompanyAddress']}}</p>
                <p>Contact Person:{{warranty['contactPerson"']}}</p>
                <p>Contact No:{{warranty['contactNo']}}</p>
                <p>Warranty From:{{warranty['warrantyFrom']}}</p>
                <p>Warranty Month:{{warranty['warrantyMonth']}}</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
              </fieldset>
            </div>
            <div class="info-container">
            </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Specification Name</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tbody *ngIf="specificationDatas">
                <tr *ngFor="let data of specificationDatas">
                  <td>{{ data['specificationName'] }}</td>
                  <td>{{ data['remarks'] }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</jqxWindow>
<jqxWindow #myHistoryWindow [width]="'90%'" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <app-history-requisition [data]="historyData"></app-history-requisition>
  </div>
</jqxWindow>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
