<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{'STATELINEDEPRECIATIONREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'STATELINEDEPRECIATIONDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}}</label>
                    <br>
                    <jqxComboBox #branchCombo [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25' [source]='branchAdapter' [displayMember]="'branchName'"
                      [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                    <div class="form-group">
                      <label>{{'ITEM'|translate}}</label>
                      <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                      <span *ngIf="itemFocus" class="px-select-container">
                        <select size="5" name="itemCode" (blur)="itemFocus = false;" class="px-control px-select-list" id="itemCode" (change)="itemListSelected($event.target.value)">
                            <option disabled="true" value="">Choose Item</option>
                          <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                        </select>
                      </span>
                    </div>
                  </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'FINANCIALYEAR'|translate}}</label>
                    <br>
                    <jqxComboBox #fiscalYearCombo (onChange)="fiscalChange()" [placeHolder]="'Select Fiscal Year'" [width]="'100%'" [height]='25'
                      [source]='fiscalYearAdapter' [displayMember]="'fy'" [valueMember]="'fySymbol'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'FINANCIALYEAR'|translate}} {{'STARTDATE'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'FINANCIALYEAR'|translate}} {{'ENDDATE'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left m-2">
                    <label class="pt-4">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="100" (onClick)="save(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'STATELINEDEPRECIATIONDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12">
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas">
                        <th colspan="4">
                          &nbsp;
                        </th>
                        <th colspan="2">
                            {{'ASPERSTATELINEMETHOD'|translate}} 
                        </th>
                        <th colspan="3">
                          &nbsp;
                        </th>
                        <th colspan="2">
                            {{'ASPERSTATELINEMETHOD'|translate}}
                        </th>
                        <th colspan="1">
                          &nbsp;
                        </th>
                      </tr>
                      <tr *ngIf="reportDatas">
                        <th colspan="4">
                          &nbsp;
                        </th>
                        <th colspan="2">
                            {{'UPTO'|translate}} {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="3">
                          &nbsp;
                        </th>
                        <th colspan="2">
                            {{'UPTO'|translate}} {{ alForm.value['dateTo'] }}
                        </th>
                        <th colspan="1">
                          &nbsp;
                        </th>
                      </tr>
                      <tr>
                        <th>{{'ASSETNAME'|translate}}</th>
                        <th>{{'BRANCH'|translate}}</th>
                        <th>{{'PURCHASEDATE'|translate}}</th>
                        <th>{{'COSTPRICE'|translate}}(Rs.)</th>
                        <th>{{'ACCUMULATEDDEPTH'|translate}}</th>
                        <th>{{'BOOKVALUE'|translate}}</th>
                        <th>{{'SOLDWRITEOFFDATE'|translate}}</th>
                        <th>{{'SOLDWRITEOFFAMOUNT'|translate}}</th>
                        <th>{{'DEPRECIATIONTHISYEAR'|translate}}</th>
                        <th>{{'ACCUMULATEDDEPRECIATION'|translate}}</th>
                        <th>{{'BOOKVALUE'|translate}}</th>
                        <th>{{'GAINLOSSONSOLDASSET'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['assetName'] }}</td>
                        <td>{{ data['branch'] }}</td>
                        <td>{{ data['purchaseDate'] }}</td>
                        <td>{{ data['costPrice'] | number : '1.2-2'}}</td>
                        <td>{{ data['accumulatedDep1'] | number : '1.2-2'}}</td>
                        <td>{{ data['bookValue1'] | number : '1.2-2' }}</td>
                        <td>{{ data['soldWriteOffDate'] }}</td>
                        <td>{{ data['soldWriteOffAmt'] }}</td>
                        <td>{{ data['DepThisYear'] | number : '1.2-2' }}</td>
                        <td>{{ (data['DepThisYear'] + data['accumulatedDep1']) | number : '1.2-2' }}</td>
                        <td>{{ (data['costPrice'] - (data['DepThisYear'] + data['accumulatedDep1'])) | number : '1.2-2' }}</td>
                        <td *ngIf="data['soldWriteOffDate'].length==10">{{ (data['costPrice'] - (data['costPrice'] - (data['DepThisYear'] + data['accumulatedDep1'])) - data['soldWriteOffAmt']) | number : '1.2-2' }}</td>
                        <td *ngIf="data['soldWriteOffDate'].lengt!=10"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>