#page-wrap { 
    width: 800px; 
    margin: 0 auto;
}

.invoice-header {
    margin-top: 20px;
    text-align: center;
}
.invoice-header .meta-sub{
    font-size: 12px;
}

.invoice-header .meta-header{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.invoice-header .meta-info{
    margin-top: 8px;
    font-size: 18px;
}

.invoice-header .meta-info{
    margin-top: 5px;
    font-size: 16px;
}

.invoice-header .meta-invoice-title{
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.invoice-title-number {
    font-weight: bold;
}

table.invoice-table {
    border-collapse: collapse;
    width: 100%;
}

table.invoice-table, .invoice-table th, .invoice-table td {
    border: 1px solid black;
    padding: 2px 4px;
}

.invoice-table th {
    font-size: 12px;
}

.invoice-footer-info {
    font-size: 12px;
    margin-top: 15px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    line-height: 24px;
}

.invoice-footer{
    display: block;
    padding-top: 30px;
    margin-bottom: 15px;
}

.invoice-footer .invoice-footer-col{
    display: inline-block;
    width: 32%;
    float: right;
}

.invoice-footer-field{

}