<div class="container-fluid tfm-panel">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'GOODSRECEIPTNOTEREPORT'|translate}}</h2>
          </div>
          <div class="bg-white p-1">
            <form name="alForm" [formGroup]="alForm">
              <fieldset>
                <legend>{{'GOODS'|translate}} {{'GRNDETAILS'|translate}}</legend>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>{{'BRANCH'|translate}} </label>
                      <br>
                      <jqxComboBox #branchCombo (onChange)="branchChanged($event)" [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25'
                        [source]='branchAdapter' [multiSelect]="true" [displayMember]="'branchName'" [valueMember]="'branchCode'">
                      </jqxComboBox>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>{{'ITEM'|translate}} </label>
                      <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                      <span *ngIf="itemFocus" class="px-select-container">
                        <select size="5" name="itemCode" (blur)="itemFocus = false;" class="px-control px-select-list" id="itemCode" (change)="itemListSelected($event.target.value)">
                            <option disabled="true" value="">Choose Item</option>
                          <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                        </select>
                      </span>
                    </div>
                  </div>
                  <div class="col">
                      <div class="form-group">
                        <label>{{'RECEIVEBY'|translate}}</label>
                        <br>
                        <jqxComboBox #requestedByCombo  [placeHolder]="'Select request person'" [width]="'100%'" [height]='25'
                          [source]='requestByAdapter' [displayMember]="'receiveBy'" [valueMember]="'receiveBy'">
                        </jqxComboBox>
                      </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                          <label>{{'SUPPLIER'|translate}}</label>
                          <br>
                          <jqxComboBox #supplierCombo  [placeHolder]="'Select request person'" [width]="'100%'" [height]='25'
                            [source]='supplierAdapter' [displayMember]="'supplierName'" [valueMember]="'sn'">
                          </jqxComboBox>
                        </div>
                      </div>
                  <div class="w-100"></div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>{{'DATEFROM'|translate}} *</label>
                      <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>
  
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>{{'DATETO'|translate}} *</label>
                      <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group text-left m-3">
                      <label class="pt-3">&nbsp;</label>
                      <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="'30%'" (onClick)="save(alForm.value)">
                        {{'SEARCH'|translate}}
                      </jqxButton>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="rs-grid-panel bg-white">
            <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
              <h2> {{'GOODSRECEIPTNOTEDATA'|translate}}
                <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                  <button (click)="printReport()" class="btn btn-sm btn-primary">
                    <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                  </button>
                </span>
                <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                  <button (click)="exportReport()" class="btn btn-sm btn-primary">
                    <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                  </button>
                  &nbsp; &nbsp;
                </span>
  
              </h2>
            </div>
            <div class="scroll-container" style="margin: 10px;">
              <div class="row justify-content-md-center">
                <div class="col-12">
                  <div id="reportContainer">
                    <div class="info-container">
                    </div>
                    <table class="table table-bordered">
                      <thead>
                        <tr *ngIf="reportDatas.length>0">
                          <th colspan="6">
                            {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }}
                          </th>
                          <th colspan="7">
                            {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                          </th>
                        </tr>
                        <tr>
                          <th>{{'BILLDATE'|translate}}</th>
                          <th>{{'ITEMNAME'|translate}}</th>
                          <th>{{'ASSETCODE'|translate}}</th>
                          <th>{{'FINANCIALYEAR'|translate}}</th>
                          <th>{{'ORDERQTY'|translate}}</th>
                          <th>{{'RATE'|translate}}</th>
                          <th>{{'CHARGE'|translate}}</th>
                          <th>{{'TOTALAMOUNT'|translate}}</th>
                          <th>{{'BRANCH'|translate}}</th>
                          <th>{{'SUPPLIER'|translate}}</th>
                          <th>{{'RECEIVEBY'|translate}}</th>
                          <th>{{'STATUS'|translate}}</th>
                          <th class="last-td">{{'ACTIONS'|translate}}</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="reportDatas">
                        <tr *ngFor="let data of reportDatas">
                          <td>{{ data['billDate'] }}</td>
                          <td>{{ data['itemName'] }}</td>
                          <td>{{ data['assetCode'] }}</td>
                          <td>{{ data['fy'] }}</td>
                          <td>{{ data['qty'] }}</td>
                          <td>{{ data['rate'] }}</td>
                          <td>{{ data['charge'] }}</td>
                          <td>{{ data['totalAmt'] }}</td>
                          <td>{{ data['branch'] }}</td>
                          <td>{{ data['supplier'] }}</td>
                          <td>{{ data['receiveBy'] }}</td>
                          <td>{{ data['status'] }}</td>
                          <td class="last-td" (click)="viewItem(data)">
                            <jqxButton>
                              {{'DETAIL'|translate}} {{'VIEW'|translate}}
                            </jqxButton>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
    <div class="header">Header Div</div>
    <div id="windowContent">
      <span *ngIf="reportDatas && reportDatas[0]">
        <button (click)="printDetailsReport()" class="btn btn-sm btn-primary">
          <i class="fa fa-print fa-fw"></i> Print
        </button>
      </span>
      <div id="page-wrap" *ngIf="printItemDetails && printOfficialDetails">
        <div class="invoice-header">
            <p class="meta-sub">नेपाल सरकार</p>
            <p class="meta-header">
                <small>{{officeDetails['orgName']}}</small> <!-- कार्यालय --></p>
            <p class="meta-info">............................</p>
            <p class="meta-invoice-title">दाखिला प्रतिवेदन फाराम</p>
        </div>

        <div class="invoice-container">
            <p class="invoice-title-number"> दाखिला प्रतिवेदन नम्बर: {{printOfficialDetails['grnNo']}}</p>
            <table class="invoice-table">
                <thead>
                    <tr>
                        <th rowspan="2">क्र.सं</th>
                        <!-- <th rowspan="2">जिन्सी खाता पाना नं.</th> -->
                        <!-- <th rowspan="2">जिन्सी बर्गीकरण संकेत नं</th> -->
                        <th rowspan="2">समानको नाम</th>
                        <th rowspan="2">स्पेसिफिकेसन</th>
                        <th rowspan="2">परिमाण</th>
                        <!-- <th rowspan="2">इकाई</th>
                        <th rowspan="1" colspan="5">जम्मा</th>
                        <th rowspan="2">कैफियत</th> -->
                    </tr>
                    <!-- <tr>
                        <th rowspan="1">प्रति इकाई दर</th>
                        <th rowspan="1">मू.अ.कर प्रति इकाई</th>
                        <th rowspan="1">इकाई मूल्य</th>
                        <th rowspan="1">अन्य खर्च</th>
                        <th rowspan="1">जम्मा</th>
                    </tr> -->
                </thead>
                <tbody *ngIf="printItemDetails">
                    <tr *ngFor="let data of printItemDetails; let i=index;">
                        <td>{{i+1}}</td>
                        <!-- <td>{{data['']}}</td>
                        <td>{{data['']}}</td> -->
                        <td>{{data['itemName']}}</td>
                        <td>{{data['specification']}}</td>
                        <td>{{data['qty']}}</td>
                        <!-- <td>{{data['unit']}}</td>
                        <td>{{data['']}}</td>
                        <td>{{data['']}}</td>
                        <td>{{data['']}}</td>
                        <td>{{data['']}}</td>
                        <td>{{data['']}}</td>
                        <td>{{data['']}}</td> -->
                    </tr>
                </tbody>
            </table>
            <p class="invoice-footer-info">
                माथि उलेखित मालसमानहरु खरिद आदेश नम्बर / हस्तान्तरण फाराम नम्बर  &nbsp;&nbsp;&nbsp;<b>{{printOfficialDetails['orderNo']}}</b>&nbsp;&nbsp;&nbsp; बाट मिति  &nbsp;&nbsp;&nbsp;<b>{{printOfficialDetails['orderDate']}}</b>&nbsp;&nbsp;&nbsp;  अनुसार
                <br> श्री &nbsp;&nbsp;&nbsp;<b>{{printOfficialDetails['supplierName']}}</b>&nbsp;&nbsp;&nbsp; बाट प्राप्त हुन आएको हुँदा जाँची गन्ती
                गरी हेर्दा ठीक दुरुस्त भएकोले खातामा आम्दानी बाँधेको प्रमाणित गर्दछु
            </p>
        </div>
        <div class="invoice-footer">
            <div class="invoice-footer-col">
                <div>
                    <p>........................................</p>
                    <p class="invoice-footer-field">
                        फाँटवालाको दस्तखत
                    </p>
                    <p class="invoice-footer-field">
                        नाम :
                    </p>
                    <p class="invoice-footer-field">
                        पद :
                    </p>
                    <p class="invoice-footer-field">
                        मिति :
                    </p>
                </div>
            </div>
            <div class="invoice-footer-col">
                <div>
                    <p>...............................................</p>
                    <p class="invoice-footer-signature">
                        प्रमाणित गर्ने शाखा प्रमुखको दस्तखत
                    </p>
                    <p class="invoice-footer-field">
                        नाम :
                    </p>
                    <p class="invoice-footer-field">
                        पद :
                    </p>
                    <p class="invoice-footer-field">
                        मिति :
                    </p>
                </div>
            </div>
            <div class="invoice-footer-col">
                <div>
                    <p>...................................</p>
                    <p class="invoice-footer-signature">
                        कार्यालय प्रमुखको दस्तखत
                    </p>
                    <p class="invoice-footer-field">
                        नाम :
                    </p>
                    <p class="invoice-footer-field">
                        पद :
                    </p>
                    <p class="invoice-footer-field">
                        मिति :
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
  </jqxWindow>
  <jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
  </jqxNotification>
  <jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
  </jqxNotification>
  <jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
  </jqxLoader>