<div style="overflow: hidden;">
  <jqxValidator #myValidator  [hintType]="'tooltip'" [position]="'bottom'">
    <form name="supplierForm" [formGroup]="supplierForm" id="supplierForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ "ORGANIZATION" | translate }} {{ "MASTER" | translate }}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>
              <label>{{ "ORGANIZATION" | translate }} {{ "NAME" | translate }}</label>
              <br>
              <jqxInput class="orgName" [theme]="'energyblue'" [placeHolder]="'Phoenix Solutions Pvt Ltd'" [height]="23" [width]="190"
                formControlName="orgName"></jqxInput>
            </td>
            <td>
              <label>{{ "SUPPLIER" | translate }} {{ "NAME" | translate }}</label>
              <br>
              <jqxInput class="contactNo" [theme]="'energyblue'" [placeHolder]="'Dipan Burja..'" [height]="23" [width]="170" formControlName="contactNo"></jqxInput>
            </td>
            <td>
              <label>{{ "ADDRESS" | translate }}</label>
              <br>
              <jqxInput class="address" [theme]="'energyblue'" [placeHolder]="'Chabahil'" [height]="23" [width]="170" formControlName="address"></jqxInput>
            </td>
            <td>
              <label>{{ "EMAILADDRESS" | translate }}</label>
              <br>
              <jqxInput class="emailAddress" [theme]="'energyblue'" [placeHolder]="'Email Address'" [height]="23" [width]="170" formControlName="email"></jqxInput>
            </td>
            <td>
              <label>{{ "FAX" | translate }}</label>
              <br>
              <jqxInput class="fax" [theme]="'energyblue'" [placeHolder]="'5567..'" [height]="23" [width]="170" formControlName="fax"></jqxInput>
            </td>
            <td>
                <label>&nbsp;</label>
                <br>
              <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!supplierForm.valid" (onClick)="saveBtn(supplierForm.value)">
                {{ "SAVE" | translate }}
              </jqxButton>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>