<div class="container-fluid tfm-panel">
  <form name="goodsReturnForm" [formGroup]="goodsReturnForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{ "GOODSRETURN" | translate }} </h2>
          </div>
          <div class="rs-grid-panel bg-white">
            <fieldset>
              <legend>{{ "RETURNITEM" | translate }}</legend>
              <div formArrayName="returnItems">
                <div class="row row-head">
                  <div class="col-md-2">
                    <p>{{ "SUPPLIER" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "ITEM" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "ASSETCODE" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "ORDERNO" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "REMARKS" | translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p>{{ "ACTION" | translate }}</p>
                  </div>
                </div>
                <div class="form-array-container">
                  <div *ngFor="let reqItem of goodsReturnForm.get('returnItems')['controls']; let i = index" class="form-array-container-inner">
                    <div class="row p-1 row-body" [formGroupName]="i">
                      <div class="col-md-2">
                        <select name="supplier" formControlName="supplier" class="px-control">
                          <option style="font-weight: bold!important;font-size: 12px;" value="">
                            <small>{{ "SELECT" | translate}}</small>
                          </option>
                          <option *ngFor='let supplier of supplierAdapter' [value]="supplier.sn">{{ supplier.supplierName}}</option>
                        </select>
                        <small [hidden]="reqItem['controls'].supplier.valid || !reqItem['controls'].supplier.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" (keyup)="itemFilter($event, i)" formControlName="itemNo" class="px-control">
                        <span *ngIf="itemFocus[i]" class="px-select-container">
                          <select (change)="itemListSelected($event.target.value, i)" (blur)="itemFocus[i] = false;" size="5" name="itemNo" class="px-control px-select-list"
                            id="itemNo">
                            <option *ngFor='let item of itemAdapter[i]' [attr.selected]="0" [value]="item.itemNo">{{item.assetCode}} - {{ item.itemName }} </option>
                          </select>
                        </span>
                        <small [hidden]="reqItem['controls'].itemNo.valid || !reqItem['controls'].itemNo.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="assetCode" class="px-control">
                        <small [hidden]="reqItem['controls'].assetCode.valid || !reqItem['controls'].assetCode.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="orderNo" class="px-control">
                        <small [hidden]="reqItem['controls'].orderNo.valid || !reqItem['controls'].orderNo.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="remarks" class="px-control">
                        <small [hidden]="reqItem['controls'].remarks.valid || !reqItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                        <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                          <i class="fa fa-fw fa-plus" aria-hidden="true"></i></a>
                        <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="goodsReturnForm.get('returnItems').length < 2">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="row">
                <div class="form-group col-md-2">
                  <label>{{ "RETURNBY" | translate }}</label>
                  <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'Shyam Sharma.'" [height]="23" [width]="170" formControlName="returnBy"></jqxInput>
                </div>
                <div class="form-group col-md-2">
                  <label>{{ "RETURNDATE" | translate }}</label>
                  <jqxInput class="returnDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'" [height]="23" [width]="170" formControlName="returnDate"></jqxInput>
                </div>
                <div class="form-group text-right m-2">
                  <label class="mt-4">&nbsp;</label>
                  <jqxButton [theme]="'energyblue'" [width]="100" (onClick)="save(goodsReturnForm.value)">
                      {{ "SAVE" | translate }}
                  </jqxButton>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="6000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>