<div class="container-fluid tfm-panel">

  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{ "GRNUPDATE" | translate }} - {{ "SETSERIALNUMBER" | translate }} </h2>
        </div>
        <div class="bg-white p-1">
          <div class="row">
            <div class="col-md-7">
              <form name="seForm" [formGroup]="seForm">
                <fieldset>
                  <legend>{{ "SELECTITEM" | translate }}</legend>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "BRANCH" | translate }}</label>
                        <select formControlName="branch" class="px-control select-control selectpicker select-class select-border">
                          <option [selected]="'true'" [disabled]="'true'" [value]='null'>-- select --</option>
                          <option *ngFor="let branch of branchAdapter" [value]="branch.branchCode">{{ branch.branchName }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <label>{{ "ITEM" | translate }}</label>
                        <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                        <span *ngIf="itemFocus" class="px-select-container">
                          <select (change)="itemListSelected($event.target.value)" (blur)="itemFocus = false;" size="5" name="itemCode" class="px-control px-select-list"
                            id="itemCode">
                            <option [selected]="'true'" [disabled]="'false'" [value]='null'>-- select --</option>
                            <option *ngFor='let item of itemAdapter' [value]="item.itemNo">{{ item.assetCode }} / {{ item.billDate }} / {{ item.orderNo }}</option>
                          </select>
                        </span>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="form-group">
                        <label>&nbsp;</label>
                        <br>
                        <jqxButton [theme]="'energyblue'" [disabled]="!seForm.valid" [width]="'100%'" (onClick)="loadGridData()">
                          {{ "LOADSPECIFICATIONANDACCESSORIES" | translate }}
                        </jqxButton>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="col-md-5">
              <form name="uploadForm" [formGroup]="uploadForm" enctype="multipart/form-data">
                <fieldset>
                  <legend>{{ "UPLOADITEMIMAGE" | translate}}</legend>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label>{{ "SELECTIMAGE" | translate }}</label>
                        <input type="file" formControlName="image" (change)=fileEventS($event) class="px-control px-file-control" name="image" multiple>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label>&nbsp;</label>
                        <br>
                        <jqxButton [theme]="'energyblue'" [disabled]="!seForm.valid || !uploadForm.valid" [width]="100" (onClick)="uploadImage(uploadForm.value)">
                          {{ "UPLOAD" | translate }}
                        </jqxButton>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="rs-grid-panel bg-white" [hidden]="!seForm.valid && !itemAdapter">
          <div class="row">
            <div class="col-md-6">
              <div>
                <p>{{ "SELECTITEMACCESSORIES" | translate }}</p>
                <jqxGrid #accessoryGrid [height]="330" [width]="'99.8%'" [source]="accessoryDataAdapter" [columns]="accessoryColumns" [pageable]="false"
                  [filterable]="true" [autorowheight]="false" [sortable]="false" [editable]="true"
                  [theme]="'energyblue'" [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="false" [showstatusbar]="true"
                  [renderstatusbar]="accessoryGridRenderStatusbar" [keyboardnavigation]="true">
                </jqxGrid>
                <br>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <p>{{ "SELECTITEMSPECIFICATION" | translate }}</p>
                <jqxGrid #specificationGrid [height]="330" [width]="'99.8%'" [source]="specificationDataAdapter" [columns]="specificationColumns"
                  [pageable]="false" [filterable]="true" [autorowheight]="false" [sortable]="false" [editable]="true" [theme]="'energyblue'"
                  [selectionmode]="'checkbox'" [showfilterrow]="true" [keyboardnavigation]="true" [showstatusbar]="true" [renderstatusbar]="specificationGridRenderStatusbar">
                </jqxGrid>
                <br>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <form name="iiForm" [formGroup]="iiForm">
                <fieldset>
                  <legend>{{ "ITEMINSURANCEDETAIL" | translate }}</legend>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "COMPANY" | translate }} {{ "CODE" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="insurancesCompaniesCode" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "COMPANY" | translate }} {{ "NAME" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="insurancesCompaniesName" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "ADDRESS" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="address" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "OFFICECONTACTNO" | translate }}.</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="officeContactNo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "CONTACTPERSON" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="contactPerson" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "CONTACTPERSONNO" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="contactPersonNo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "INSURANCEAMOUNT" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="insuranceAmount" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "INSURANCEDATEFROM" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="insuranceDateFrom" [placeHolder]="'YYYY-MM-DD'" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>{{ "INSURANCEDATETO" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="insuranceDateTo" [placeHolder]="'YYYY-MM-DD'" [minLength]="3"
                          [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group text-right">
                        <label>&nbsp;</label>
                        <br>
                        <jqxButton [theme]="'energyblue'" [disabled]="!iiForm.valid" [width]="140" (onClick)="saveItemInsurance(iiForm.value)">
                          {{ "SAVEINSURANCE" | translate }}
                        </jqxButton>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
              <br>
            </div>
            <div class="col-md-12">
              <form name="iwForm" [formGroup]="iwForm">
                <fieldset>
                  <legend>{{ "ITEMWARRANTYDETAIL" | translate }}</legend>
                  <div class="row">
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "COMPANY" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyCompany" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "COMPANY" | translate }} {{ "ADDRESS" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyCompanyAddress" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "CONTACTNO" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="contactNo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "CONTACTPERSON" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="contactPerson" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "WARRANTYFROM" | translate }}</label>
                        <jqxInput [width]="'100%'" [height]="25" formControlName="warrantyFrom" [theme]="'energyblue'"></jqxInput>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <label>{{ "WARRANTYMONTH" | translate }}</label>
                        <jqxNumberInput [width]="'20%'" [textAlign]="'left'" [min]="0" [negativeSymbol]="" [height]="23" [decimalDigits]="0" [inputMode]="'simple'" formControlName="warrantyMonth" [theme]="'energyblue'"></jqxNumberInput>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group text-right m-1">
                        <br/>
                        <jqxButton [theme]="'energyblue'" [disabled]="!iwForm.valid" [width]="160" (onClick)="saveInsurance(iwForm.value)">
                          {{ "SAVEWARRANTY" | translate }}
                        </jqxButton>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
              <br>
            </div>
            <div class="col-md-12">
              <form name="billSundryForm" [formGroup]="billSundryForm">
                <fieldset>
                  <legend>{{ "ITEMBILLSUNDRYDETAIL" | translate }}</legend>
                  <div class="row p-1 row-body">
                    <div class="col-md-3">
                      <label>{{ "ITEM" | translate }} {{ "NUMBER" | translate }} *</label>
                      <input type="text" name="itemNo" formControlName="itemNo" class="px-control" placeholder="Item No">
                    </div>
                    <div class="col-md-3">
                      <label>{{ "CHARGE" | translate }} *</label>
                      <input type="text" name="charge" formControlName="charge" class="px-control" placeholder="charge">
                    </div>
                    <div class="col-md-3">
                      <label>{{ "TOTALAMOUNT" | translate }} *</label>
                      <input type="text" name="totalAmt" formControlName="totalAmt" class="px-control" placeholder="total amount">
                    </div>
                    <div class="col-md-3">
                      <label>{{ "RATE" | translate }} *</label>
                      <input type="text" name="rate" formControlName="rate" class="px-control" placeholder="rate">
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 10px;">
                    <div class="col-12 text-right">
                      <jqxButton [theme]="'energyblue'" [disabled]="!billSundryForm.valid" [width]="140" (onClick)="saveBillSundry(billSundryForm.value)">
                        {{ "SAVEBILLSUNDRY" | translate }}
                      </jqxButton>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>