<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> Item Insurance
            <span *ngIf="grnNoLocal" class="pull-right">
              <a routerLink="/operation/item-insurance/{{grnNoLocal}}" class="btn btn-sm px-btn">
                Use Last GRN No.
              </a>
            </span>
            <span class="pull-right" *ngIf="grnNoParam">
                <a routerLink="/operation/item-accessories/{{grnNoParam}}" class="btn btn-sm px-btn">
                  Item Accessories
                </a>
                <a routerLink="/operation/item-specification/{{grnNoParam}}" class="btn btn-sm px-btn">
                  Item Specification
                </a>
                <a routerLink="/operation/item-warranty/{{grnNoParam}}" class="btn btn-sm px-btn">
                  Item Warranty
                </a>
            </span>
          </h2>
        </div>
        <div class="bg-white p-1">
          <form name="iiForm" [formGroup]="iiForm">
            <fieldset>
              <legend>Insurance Detail</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>Item</label>
                    <br>
                    <select formControlName="itemNo" class="px-control selectpicker select-class select-border"
                      style="width:170px;height:23px;">
                      <option [selected]="true" [disabled]="true" value=''>Choose Item</option>
                      <option *ngFor="let item of itemsAdapter" [value]="item['itemNo']">
                        {{ item['assetCode'] }} ({{ item['itemName'] }})
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Company Code</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="insurancesCompaniesCode" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Company Name</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="insurancesCompaniesName" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Address</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="address" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Office Contact No.</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="officeContactNo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>Contact Person</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="contactPerson" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Contact Person No.</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="contactPersonNo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Insurance Amount</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="insuranceAmount" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Insurance Date From</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="insuranceDateFrom" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>Insurance Date To</label>
                    <jqxInput [width]="'100%'" [height]="25" formControlName="insuranceDateTo" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>Same in All</label>
                    <select formControlName="sameInAll" class="px-control selectpicker select-class select-border">
                      <option [value]="'N'">No</option>
                      <option [value]="'Y'">Yes</option>
                    </select>
                  </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                  <div class="form-group text-right m-2">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!iiForm.valid" [width]="100" (onClick)="save(iiForm.value)">
                      Save
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="row">
            <div class="col-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>