<div style="overflow: hidden;" id="attWindowContainer">
  <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
    <form name="departmentForm" [formGroup]="departmentForm" id="departmentForm">
      <fieldset class="jqx-widget-header-energyblue">
        <legend>{{ 'DEPARTMENT' | translate }} {{ 'MASTER' | translate }}</legend>
        <table class="table-w-tooltip">
          <tr>
            <td>{{ 'DEPARTMENT' | translate }} {{ 'CODE' | translate }}
              <td>
                <jqxInput class="departmentCode" [theme]="'energyblue'" [placeHolder]="'1001'" [height]="23" [width]="170" formControlName="departmentCode"></jqxInput>
              </td>
              <td>{{ 'DEPARTMENT' | translate }} {{ 'NAME' | translate }}
              </td>
              <td>
                <jqxInput class="departmentName" [theme]="'energyblue'" [placeHolder]="'software'" [height]="23" [width]="170" formControlName="departmentName"></jqxInput>
              </td>
              <td>
                <jqxButton style="margin-right: 5px;" [theme]="'energyblue'" [disabled]="!departmentForm.valid" (onClick)="saveBtn(departmentForm.value)">
                  {{ 'SAVE' | translate }}
                </jqxButton>
              </td>
          </tr>
        </table>
      </fieldset>
    </form>
  </jqxValidator>

  <div class="grid-container">
    <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
      [autorowheight]="true" [sortable]="true" [editable]="true" [theme]="'energyblue'" [selectionmode]="'checkbox'"
      [showfilterrow]="true" (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" [showtoolbar]="true" [rendertoolbar]="rendertoolbar"
      [keyboardnavigation]="true">
    </jqxGrid>
  </div>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>