<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> Item Accessories
            <span *ngIf="grnNoLocal">
              <a routerLink="/operation/item-accessories/{{grnNoLocal}}" class="btn btn-sm px-btn">
                Use Last GRN No.
              </a>
            </span>
            <span class="pull-right" *ngIf="grnNoParam">
              <a routerLink="/operation/item-specification/{{grnNoParam}}" class="btn btn-sm px-btn">
                Item Specification
              </a>
              <a routerLink="/operation/item-insurance/{{grnNoParam}}" class="btn btn-sm px-btn">
                Item Insurance
              </a>
              <a routerLink="/operation/item-warranty/{{grnNoParam}}" class="btn btn-sm px-btn">
                Item Warranty
              </a>
            </span>
          </h2>
        </div>
        <div class="bg-white p-1">
          <jqxValidator #myValidator [rules]="rules" [hintType]="'tooltip'" [position]="'bottom'">
            <form name="itemForm" [formGroup]="itemForm" id="itemForm">
              <fieldset>
                <legend>Item Accessories</legend>
                <table class="table-w-tooltip">
                  <tr>
                    <td>Item</td>
                    <td>
                      <select formControlName="itemNo" (change)="itemChange($event.target.value)" class="selectpicker select-class select-border"
                        style="width:170px;height:23px;">
                        <option [selected]="true" [disabled]="true" value=''>Choose Item</option>
                        <option *ngFor="let item of itemsAdapter" [value]="item['itemNo']">
                          {{ item['assetCode'] }} ({{ item['itemName'] }})
                        </option>
                      </select>
                    </td>
                    <td></td>
                    <td>Same Accessories In All
                    </td>
                    <td>
                      <select formControlName="sameAccessoriesInAll" class="selectpicker select-class select-border">
                        <option [value]="'N'">No</option>
                        <option [value]="'Y'">Yes</option>
                      </select>
                    </td>
                    <td>

                    </td>
                    <td>
                      <jqxButton #button [width]='150' [height]='23' [theme]="'energyblue'" (onClick)="generateBarCode()">
                        Generate Barcode
                      </jqxButton>
                    </td>
                  </tr>
                </table>
              </fieldset>
            </form>
          </jqxValidator>
        </div>
        <div class="grid-container bg-white p-2">
          <jqxGrid #myGrid [height]="'100%'" [width]="'99.8%'" [source]="dataAdapter" [columns]="columns" [pageable]="true" [filterable]="true"
            [autorowheight]="true" [sortable]="false" [editable]="true" [columngroups]="columngroups" [theme]="'energyblue'"
            [selectionmode]="'checkbox'" [showfilterrow]="true" [showtoolbar]="false" [keyboardnavigation]="true">
          </jqxGrid>
        </div>
        <div class="row">
          <div class="col">
            <div class="button-container bg-white p-2 text-right">
              <jqxButton style="margin-right: 5px;" [width]="120" [height]="30" [theme]="'energyblue'" [disabled]="!itemForm.valid" (onClick)="saveBtn(itemForm.value)">
                Save
              </jqxButton>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'90%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">

    <label>Height</label>
    <input type="number" placeholder="Set height" [(ngModel)]="barcodeHeight">
    <label>Barcode Line Color</label>
    <input type="text" placeholder="Enter color in hex" [(ngModel)]="bcLineColor">
    <jqxButton #button [width]='150' [height]='23' [theme]="'energyblue'" (onClick)="printBarCode()">
      Print Barcode
    </jqxButton>

    <div class="scroll-container" *ngIf="itemsAdapter" id="printbarcode">
      <div class="container">
        <div class="row">
          <div style="text-align:center;margin: 15px;padding:10px;border: 1px solid #000000;border-style: dotted;" *ngFor="let barcode of itemsAdapter">
            <ngx-barcode [bc-font]="'monospace'" [bc-line-color]="bcLineColor || '#000000'" [bc-height]="barcodeHeight || 40" [bc-value]="barcode['itemNo']"
              [bc-display-value]="true"></ngx-barcode>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>