<div class="container-fluid tfm-panel">
  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2>{{'PURCHASEORDERREPORT'|translate}}</h2>
        </div>
        <div class="bg-white p-1">
          <form name="alForm" [formGroup]="alForm">
            <fieldset>
              <legend>{{'PURCHASEDETAIL'|translate}}</legend>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>{{'BRANCH'|translate}} </label>
                    <br>
                    <jqxComboBox #branchCombo (onChange)="branchChanged($event)" [placeHolder]="'Select Branch'" [width]="'100%'" [height]='25'
                      [source]='branchAdapter' [multiSelect]="true" [displayMember]="'branchName'" [valueMember]="'branchCode'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'PURCHASEITEM'|translate}} </label>
                    <input type="text" (keyup)="itemFilter($event)" formControlName="itemCode" class="px-control">
                    <span *ngIf="itemFocus" class="px-select-container">
                      <select size="5" name="itemCode" (blur)="itemFocus = false;" class="px-control px-select-list" id="itemCode" (change)="itemListSelected($event.target.value)">
                        <option disabled="true" value="">Choose Item</option>
                        <option *ngFor='let item of itemAdapter' [value]="item.itemCode">{{ item.itemName }}</option>
                      </select>
                    </span>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'ORDERBY'|translate}}</label>
                    <br>
                    <jqxComboBox #requestedByCombo [placeHolder]="'Select request person'" [width]="'100%'" [height]='25' [source]='requestByAdapter'
                      [displayMember]="'RequestBy'" [valueMember]="'RequestBy'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'SUPPLIER'|translate}}</label>
                    <br>
                    <jqxComboBox #supplierCombo [placeHolder]="'Select request person'" [width]="'100%'" [height]='25' [source]='supplierAdapter'
                      [displayMember]="'supplierName'" [valueMember]="'sn'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATEFROM'|translate}} *</label>
                    <jqxInput #dateFrom formControlName="dateFrom" [placeHolder]="'2075-01-01'" [width]="'100%'" [height]="25"></jqxInput>

                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'DATETO'|translate}} *</label>
                    <jqxInput formControlName="dateTo" [placeHolder]="'2075-01-30'" [width]="'100%'" [height]="25"></jqxInput>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label>{{'STATUS'|translate}} *</label>
                    <br>
                    <jqxComboBox #statusCombo [placeHolder]="'Select Status'" [width]="'100%'" [height]='25' [source]='statusAdapter' [displayMember]="'name'"
                      [valueMember]="'value'">
                    </jqxComboBox>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group text-left m-3">
                    <label class="pt-3">&nbsp;</label>
                    <jqxButton [theme]="'energyblue'" [disabled]="!alForm.valid" [width]="'30%'" (onClick)="save(alForm.value)">
                      {{'SEARCH'|translate}}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{'PURCHASEORDERDATA'|translate}}
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="printReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-print fa-fw"></i> {{'PRINT'|translate}}
                </button>
              </span>
              <span *ngIf="reportDatas && reportDatas[0]" class="float-right">
                <button (click)="exportReport()" class="btn btn-sm btn-primary">
                  <i class="fa fa-excel fa-fw"></i> {{'EXPORTEXCELL'|translate}}
                </button>
                &nbsp; &nbsp;
              </span>

            </h2>
          </div>
          <div class="scroll-container" style="margin: 10px;">
            <div class="row justify-content-md-center">
              <div class="col-12" >
                <div id="reportContainer">
                  <div class="info-container">
                  </div>
                  <table class="table table-bordered">
                    <thead>
                      <tr *ngIf="reportDatas.length>0">
                        <th colspan="6">
                          {{'DATEFROM'|translate}}: {{ alForm.value['dateFrom'] }}
                        </th>
                        <th colspan="8">
                          {{'DATETO'|translate}}: {{ alForm.value['dateTo'] }}
                        </th>
                      </tr>
                      <tr>
                        <th>{{'ORDERDATE'|translate}}</th>
                        <th>{{'ORDERNO'|translate}}</th>
                        <th>{{'ITEMNAME'|translate}}</th>
                        <th>{{'SPECIFICATION'|translate}}</th>
                        <th>{{'ORDERBY'|translate}}</th>
                        <th>{{'ORDERQTY'|translate}}</th>
                        <th>{{'RATE'|translate}}</th>
                        <th>{{'TOTAL'|translate}}</th>
                        <th>{{'BRANCH'|translate}}</th>
                        <th>{{'SUPPLIER'|translate}}</th>
                        <th>{{'DELIVERYPLACE'|translate}}</th>
                        <th>{{'PAYMENTTERM'|translate}}</th>
                        <th>{{'REMARKS'|translate}}</th>
                        <th class="last-td">{{'ACTIONS'|translate}}</th>
                      </tr>
                    </thead>
                    <tbody *ngIf="reportDatas">
                      <tr *ngFor="let data of reportDatas">
                        <td>{{ data['orderDate'] }}</td>
                        <td>{{ data['orderNo'] }}</td>
                        <td>{{ data['itemName'] }}</td>
                        <td>{{ data['specification'] }}</td>
                        <td>{{ data['orderBy'] }}</td>
                        <td>{{ data['orderQty'] }}</td>
                        <td>{{ data['rate'] }}</td>
                        <td>{{ data['total'] | number : '1.2-2' }}</td>
                        <td>{{ data['branch'] }}</td>
                        <td>{{ data['supplier'] }}</td>
                        <td>{{ data['deleveryPlace'] }}</td>
                        <td>{{ data['paymentTerm'] }}</td>
                        <td>{{ data['remarks'] }}</td>
                        <td class="last-td" (click)="viewItem(data)">
                          <jqxButton>
                            {{'DETAIL'|translate}} {{'VIEW'|translate}}
                          </jqxButton>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<jqxWindow #myWindow [width]="'90%'" [height]="'77%'" [resizable]="false" [isModal]="true" [autoOpen]="false" [theme]="'energyblue'">
  <div class="header">Header Div</div>
  <div id="windowContent">
    <span *ngIf="reportDatas && reportDatas[0]">
      <button (click)="printDetailsReport()" class="btn btn-sm btn-primary">
        <i class="fa fa-print fa-fw"></i> Print
      </button>
    </span>
    <div id="page-wrap" *ngIf="printItemDetails && printOfficialDetails">
      <div class="invoice-header">
        <p class="meta-sub">नेपाल सरकार</p>
        <p class="meta-header-1">
          <small>{{officeDetails['orgName']}}</small>
        </p>
        <div class="header-row">
          <div class="header-row-col-1">
            <p>श्री : {{printOfficialDetails['supplierName']}}</p>
            <p>ठेगाना : {{printOfficialDetails['address']}}</p>
            <p>TPIN/PAN : {{printOfficialDetails['vatPanNo']}}</p>
          </div>
          <div class="header-row-col-2 text-center">
            <p>........................................</p>
            <p class="meta-invoice-title">खरिद आदेश</p>
            <p> &nbsp;</p>
          </div>
          <div class="header-row-col-3">
            <p>खरिद आदेश नं. : {{printOfficialDetails['orderNo']}}</p>
            <p> &nbsp;</p>
            <p>मिति: {{printOfficialDetails['orderDate']}}</p>
          </div>
        </div>
        <div class="header-row">

        </div>

      </div>

      <div class="invoice-container">
        <p class="invoice-title-p"> देहाय बमोजिमका सामानहरु मिति: &nbsp;&nbsp;&nbsp;{{printOfficialDetails['deliveryDate']}} &nbsp;&nbsp;&nbsp;  भित्र &nbsp;&nbsp;&nbsp;{{printOfficialDetails['deleveryPlace']}} &nbsp;&nbsp;&nbsp; कार्यालयमा दाखिला गरी
          विल प्रस्तुत गर्नु होला |
        </p>
        <table class="invoice-table">
          <thead>
            <tr>
              <th rowspan="2">क्र.सं</th>
              <!-- <th rowspan="2">बजेट शीर्षक नं.</th> -->
              <th rowspan="2">विवरण</th>
              <th rowspan="2">स्पेसिफिकेसन</th>
              <th rowspan="2">समानको परिमाण</th>
              <th rowspan="2">इकाई</th>
              <th colspan="2">मूल्य</th>
              <th rowspan="2">कैफियत</th>
            </tr>
            <tr>
              <th>दर</th>
              <th>जम्मा रकम</th>
            </tr>
          </thead>
          <tbody *ngIf="printItemDetails">
            <tr *ngFor="let data of printItemDetails;let i=index;">
              <td>{{i+1}}</td>
              <!-- <td>{{data['']}}</td> -->
              <td>{{data['itemName']}}</td>
              <td>{{data['specification']}}</td>
              <td>{{data['qty']}}</td>
              <td>{{data['unit']}}</td>
              <td>{{data['rate']}}</td>
              <td>{{data['total']}}</td>
              <td>{{data['remarks']}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="invoice-footer">
        <div class="invoice-footer-col f-left">
          <div>
            <p class="invoice-footer-field">
              फाँटवालाको दस्तखत:
            </p>
            <p class="invoice-footer-field">
              मिति :
            </p>
          </div>
        </div>
        <div class="invoice-footer-col f-right w-35">
          <div>
            <p class="invoice-footer-field">
              साखा प्रमुखको दस्तखत:
            </p>
            <p class="invoice-footer-field">
              मिति :
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="d-block">
          <p>आर्थिक प्रशासन साखाले भर्ने:</p>
          <p>माथि उल्लिखित सामानहरु बजेट उपशीर्षक नं. .......................... को खर्च शीर्षक ..............................
            बाट भुक्तानी दिन बजेट बाकी देखिन्छ/देखिदैन |</p>
          <div class="d-block">
            <div class="w-30 f-right">
              <p>साखा प्रमुखको दस्तखत: </p>
              <p>मिति: </p>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="d-block">
          <div class="w-30 f-right">
            <p>कार्यालय प्रमुखको दस्तखत: .....................</p>
            <p>मिति: .....................</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr>
        <div class="d-block">
          <p>माथि उल्लिखित सामानहरु मिति ................................ भित्र .................................. कार्यालयमा
            बुझाउने छु भनी सहिछाप गर्ने</p>
          <div class="d-block m-t-20">
            <div class="d-inline w-33 text-center">
              <p>फर्मको नाम: ............................</p>
            </div>
            <div class="d-inline w-33 text-center">
              <p>दस्तखत: ...............................</p>
            </div>
            <div class="d-inline w-33 text-center">
              <p>मिति: .................................</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</jqxWindow>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>