<div class="container-fluid tfm-panel">

  <div class="row">
    <div class="col-md-12 tfm-panel-right">
      <div class="tfm-panel-container">
        <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
          <h2> {{ "YEARLYREPAIREXPENSES" | translate }} </h2>
        </div>
        <div class="bg-white p-1">
          <form name="fyForm" [formGroup]="fyForm">
            <fieldset>
              <legend>{{ "YEARLYREPAIREXPENSES" | translate }} </legend>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label>{{ "FISCALYEAR" | translate }}</label>
                    <select formControlName="fiscalYear" class="px-control select-control selectpicker select-class select-border">
                      <option [selected]="true" [disabled]="true" value=''></option>
                      <option *ngFor="let fiscalyear of fiscalYears" [value]="fiscalyear.fySymbol">{{ fiscalyear.fy }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label>&nbsp;</label>
                    <br>
                    <jqxButton [theme]="'energyblue'" [disabled]="!fyForm.valid" [width]="100" (onClick)="search(fyForm.value)">
                      {{ "SEARCH" | translate }}
                    </jqxButton>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="rs-grid-panel bg-white">
          <form name="yreForm" [formGroup]="yreForm">
            <fieldset>
              <legend>Gov. Depreciation Yearly Report</legend>
              <div formArrayName="requisitionItems">
                <div class="row row-head">
                  <div class="col-md-1">
                    <p>{{ "GROUP" | translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p>{{ "ITEM" | translate }} {{ "CODE" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "ITEM" | translate }} {{ "NAME" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "REPAIREXPENSESALLOW" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "REPAIREXPENSESAMOUNT" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "DEPRECIATEDAMOUNTATTHEEND" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "CLOSEAMOUNT" | translate }}</p>
                  </div>
                </div>
                <div class="form-array-container">
                  <div *ngFor="let reqItem of yreForm.get('requisitionItems')['controls']; let i = index" class="form-array-container-inner">
                    <div class="row p-1 row-body" [formGroupName]="i">
                      <div class="col-md-1">
                        <input type="text" formControlName="group" class="px-control">
                      </div>
                      <div class="col-md-1">
                        <input type="text" formControlName="itemCode" class="px-control">
                      </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="itemName" class="px-control">
                      </div>
                      <div class="col-md-2">
                        <input type="number" formControlName="repairExpensesAllow" class="px-control" placeholder="Specification">
                      </div>
                      <div class="col-md-2">
                        <input type="number" min="1" (change)="repairExpensesAmountChange(reqItem,i)" formControlName="repairExpensesAmount" class="px-control"
                          placeholder="0.00">
                      </div>
                      <div class="col-md-2">
                        <input type="number" formControlName="depreciatedAmountAtTheEnd" class="px-control" placeholder="Rate">
                      </div>
                      <div class="col-md-2">
                        <input type="number" formControlName="closeAmt" class="px-control" placeholder="Required Day">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col-3">
                  <div class="form-group">
                    <label>{{ "ENTRYDATE" | translate }}</label>
                    <input type="text" formControlName="enterDate" class="px-control" placeholder="yyyy-mm-dd">
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group">
                    <br>
                    <jqxButton [theme]="'energyblue'" [disabled]="!yreForm.valid && !fyForm.valid" [width]="100" (onClick)="save()">
                      {{ "SAVE" | translate }}
                    </jqxButton>
                  </div>
                </div>
                <div class="col-1"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>