<div class="container-fluid tfm-panel">
  <form name="goodsDisposalForm" [formGroup]="goodsDisposalForm">
    <div class="row">
      <div class="col-md-12 tfm-panel-right">
        <div class="tfm-panel-container">
          <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
            <h2> {{ "GOODSDISPOSAL" | translate }} </h2>
          </div>
          <div class="rs-grid-panel bg-white">
            <fieldset>
              <legend>{{ "DISPOSALITEMS" | translate }}</legend>
              <div formArrayName="disposalItems">
                <div class="row row-head">
                  <div class="col-md-2">
                    <p>{{ "ITEM" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "PURCHASEAMOUNT" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "DEPRECIATIONAMOUNT" | translate }}</p>
                  </div>
                  <div class="col-md-2">
                    <p>{{ "DISPOSALAMOUNT" | translate }}</p>
                  </div>
                  <div class="col-md-1">
                      <p>{{ "PROFIT" | translate }} / {{ "LOSS" | translate }}</p>
                    </div>
                  <div class="col-md-2">
                    <p>{{ "REMARKS" | translate }}</p>
                  </div>
                  <div class="col-md-1">
                    <p>{{ "ACTION" | translate }}</p>
                  </div>
                </div>
                <div class="form-array-container">
                  <div *ngFor="let reqItem of goodsDisposalForm.get('disposalItems')['controls']; let i = index" class="form-array-container-inner">
                    <div class="row p-1 row-body" [formGroupName]="i">
                      <div class="col-md-2">
                        <input type="text" (keyup)="itemFilter($event, i)"   formControlName="itemNo" class="px-control">
                        <span *ngIf="itemFocus[i]" class="px-select-container">
                          <select  #item (change)="itemListSelected($event.target.value, i)" (blur)="itemFocus[i] = false;" size="5" name="itemNo" class="px-control px-select-list"
                            id="itemNo">
                            <option *ngFor='let item of itemAdapter[i]' [value]="item.itemNo">{{item.assetCode}} - {{ item.itemName }} </option>
                          </select>
                        </span>
                        <small [hidden]="reqItem['controls'].itemNo.valid || !reqItem['controls'].itemNo.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="number" formControlName="purchaseAmount" class="px-control" readonly>
                        <small [hidden]="reqItem['controls'].purchaseAmount.valid || !reqItem['controls'].purchaseAmount.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="number" formControlName="depreciationAmount" class="px-control" readonly>
                        <small [hidden]="reqItem['controls'].depreciationAmount.valid || !reqItem['controls'].depreciationAmount.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-2">
                        <input type="number" step="any" (keyup)="disposalAmount($event, i)" formControlName="disposalAmount" class="px-control">
                        <small [hidden]="reqItem['controls'].disposalAmount.valid || !reqItem['controls'].disposalAmount.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                          <input type="text" formControlName="pl" class="px-control">
                          <small [hidden]="reqItem['controls'].pl.valid || !reqItem['controls'].pl.touched" class="form-control-feedback text-danger px-control-error">
                            * required
                          </small>
                        </div>
                      <div class="col-md-2">
                        <input type="text" formControlName="remarks" class="px-control">
                        <small [hidden]="reqItem['controls'].remarks.valid || !reqItem['controls'].remarks.touched" class="form-control-feedback text-danger px-control-error">
                          * required
                        </small>
                      </div>
                      <div class="col-md-1">
                        <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                          <i class="fa fa-fw fa-plus" aria-hidden="true"></i>
                        </a>
                        <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="goodsDisposalForm.get('disposalItems').length < 2">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="row">
                <div class="form-group col-md-2">
                  <label>{{ "DISPOSALTYPE" | translate }}</label>
                  <select formControlName="disposalType" class="select-control selectpicker select-class select-border">
                    <option [selected]="true" [disabled]="true" value=''>Choose Disposal</option>
                    <option *ngFor='let disposal of disposalAdapter' [value]="disposal.value">{{ disposal.name}}</option>
                  </select>
                </div>
                <div class="form-group col-md-2">
                  <label>{{ "DISPOSALORDERBY" | translate }}</label>
                  <jqxInput class="state" [theme]="'energyblue'" [placeHolder]="'Shyam Sharma.'" [height]="23" [width]="170" formControlName="disposalOrderBy"></jqxInput>
                </div>
                <div class="form-group col-md-2">
                  <label>{{ "DISPOSALDATE" | translate }}</label>
                  <jqxInput class="returnDate" [theme]="'energyblue'" [placeHolder]="'YYYY-MM-dd'" [height]="23" [width]="170" formControlName="disposalDate"></jqxInput>
                </div>
                <div class="form-group text-right m-2">
                  <label class="mt-4">&nbsp;</label>
                  <jqxButton [theme]="'energyblue'" [width]="100" [disabled]="!goodsDisposalForm.valid" (onClick)="save(goodsDisposalForm.value)">
                      {{ "SAVE" | translate }}
                  </jqxButton>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="6000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
