<div class="container-fluid tfm-panel">
    <form name="poForm" [formGroup]="poForm">
        <div class="row">
            <div class="col-md-12 tfm-panel-right">
                <div class="tfm-panel-container">
                    <div class="tfm-panel-header jqx-widget-header jqx-window-header jqx-widget-header-energyblue">
                        <h2> {{ "PURCHASEORDER" | translate }} </h2>
                    </div>
                    <div class="bg-white p-1">
                        <fieldset>
                            <legend>{{ "PURCHASEORDERDETAIL" | translate }}</legend>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "ORDERDATE" | translate }}</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="enterDate" [placeHolder]="'eg: year-month-day'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "ORDERTYPE" | translate }}</label>
                                        <select formControlName="orderType" class="select-control selectpicker select-class select-border">
                                            <option [selected]="true" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                            <option value="Direct Purchase">Direct Purchase</option>
                                            <option value="Tender">Tender</option>
                                            <option value="Quotation">Quotation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "SUPPLIER" | translate }}</label>
                                        <select formControlName="supplier" class="select-control selectpicker select-class select-border">
                                            <option [selected]="true" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                            <option *ngFor="let supplier of supplierAdapter" [value]="supplier.sn">{{ supplier.supplierName }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "DELIVERYPLACE" | translate }}</label>
                                        <select formControlName="deleveryPlace" class="select-control selectpicker select-class select-border">
                                            <option [selected]="'true'" [disabled]="'true'" value=''>{{ "SELECT" | translate }}</option>
                                            <option *ngFor="let branch of branchAdapter" [value]="branch.branchCode">{{ branch.branchName }}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "PAYMENTTERM" | translate }}</label>
                                        <select formControlName="paymentTerm" class="select-control selectpicker select-class select-border">
                                            <option [selected]="true" [disabled]="'true'" value=''></option>
                                            <option *ngFor="let branch of paymentTermAdapter" [value]="branch.value">{{ branch.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>{{ "ENTERORDERBY" | translate }}</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="enterOrderBy" [minLength]="3" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                </div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                                <div class="col"></div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="rs-grid-panel bg-white">
                        <fieldset>
                            <legend>{{ "REQUISITIONITEMS" | translate }}</legend>
                            <a (click)="addItem()" class="btn btn-sm btn-primary px-btn">
                                <i class="fa fa-fw fa-plus" aria-hidden="true"></i> {{ "ADDITEMS" | translate }}</a>
                            <div formArrayName="requisitionItems">
                                <div class="row row-head">
                                    <div class="col-md-2">
                                        <p>{{ "ITEM" | translate }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>{{ "SPECIFICATION" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "QUANTITY" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "RATE" | translate }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>{{ "UNIT" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "REQUIREDDAY" | translate }}</p>
                                    </div>
                                    <div class="col-md-2">
                                        <p>{{ "REMARKS" | translate }}</p>
                                    </div>
                                    <div class="col-md-1">
                                        <p>{{ "ACTION" | translate }}</p>
                                    </div>
                                </div>
                                <div class="form-array-container">
                                    <div *ngFor="let reqItem of poForm.get('requisitionItems')['controls']; let i = index" class="form-array-container-inner">
                                        <div class="row p-1 row-body" [formGroupName]="i">
                                            <input type="hidden" formControlName="requisitionNo">
                                            <div class="col-md-2">
                                                <input type="text" (keyup)="itemFilter($event, i)" formControlName="itemCode" class="px-control" placeholder="Item">
                                                <span *ngIf="itemFocus[i]" class="px-select-container">
                                                    <select (change)="itemListSelected($event.target.value, i)" (blur)="itemFocus[i] = false;" size="5" name="itemCode" class="px-control px-select-list"
                                                        id="itemCode">
                                                        <option *ngFor='let item of itemAdapter[i]' [value]="item.itemCode">{{ item.itemName }}</option>
                                                    </select>
                                                </span>
                                                <small [hidden]="reqItem['controls'].itemCode.valid || !reqItem['controls'].itemCode.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="specification" class="px-control" placeholder="Specification">
                                                <small [hidden]="reqItem['controls'].specification.valid || !reqItem['controls'].specification.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="orderQty" class="px-control" placeholder="Quantity">
                                                <small [hidden]="reqItem['controls'].orderQty.valid || !reqItem['controls'].orderQty.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="rate" class="px-control" placeholder="Rate">
                                                <small [hidden]="reqItem['controls'].rate.valid || !reqItem['controls'].rate.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <select name="unit" formControlName="unit" class="px-control">
                                                    <option *ngFor='let unit of unitAdapter' [value]="unit.value">{{ unit.name }}</option>
                                                </select>
                                                <small [hidden]="reqItem['controls'].unit.valid || !reqItem['controls'].unit.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <input type="number" formControlName="inDeliveryDay" class="px-control" placeholder="Required Day">
                                                <small [hidden]="reqItem['controls'].inDeliveryDay.valid || !reqItem['controls'].inDeliveryDay.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" formControlName="remark" class="px-control" placeholder="Remarks">
                                                <small [hidden]="reqItem['controls'].remark.valid || !reqItem['controls'].remark.touched" class="form-control-feedback text-danger px-control-error">
                                                    * required
                                                </small>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" (click)="removeItem(i)" class="btn btn-sm btn-danger" [disabled]="poForm.get('requisitionItems').length < 2">
                                                    <i class="fa fa-times fa-fw" aria-hidden="true"></i> {{'DELETE'|translate}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group text-right m-2">
                                    <jqxButton [theme]="'energyblue'" [disabled]="!poForm.valid" [width]="100" (onClick)="save(poForm.value)">
                                        {{ "SAVE" | translate }}
                                    </jqxButton>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
    <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
    [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
    <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>
