<div class="container-fluid">
    <div>
        <div class="box-container">
            <form name="coiForm" [formGroup]="coiForm">
                <fieldset>
                    <legend>{{ "CHARTOFITEMS" | translate }}</legend>
                    <div class="row">
                        <div class="col">
                            <div class="grid-box-container">
                                <jqxExpander [width]="'99%'" [height]="'100%'" [showArrow]="false" [toggleMode]="'none'" [theme]="'energyblue'">
                                    <div>{{ "GROUPNAME" | translate }}</div>
                                    <div>
                                      <jqxTreeGrid #groupTreeGrid [width]="'99.6%'" [height]="'99.4%'" (onRowSelect)="treeRowSelect($event)" [source]="treeDataAdapter" [pageable]="false" [columns]="treeColumns" [selectionMode]="'singleRow'" [filterable]="true" [icons]="true" [incrementalSearch]="true" [theme]="'energyblue'" [filterMode]="'simple'">
                                      </jqxTreeGrid>
                                    </div>
                                </jqxExpander>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <span *ngIf="selectedItem" >  {{ "SELECTED" | translate }} : <strong > {{ selectedItem }}</strong></span> <strong *ngIf="!selectedItem"> {{ "PLEASE" | translate }} {{ "SELECTGROUP" | translate }} </strong>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ "SUBGROUP" | translate }} {{ "NAME" | translate }}</label>
                                        <jqxInput [width]="'100%'" [height]="25" formControlName="itemName" [minLength]="3" [placeHolder]="'Enter Subgroup Name'" [theme]="'energyblue'"></jqxInput>
                                    </div>
                                    <div class="form-group">
                                        <label>{{ "CODE" | translate }}</label>
                                        <input formControlName="assetCode" [required]="isChecked" name="assetCode" class="px-control" placeholder="Enter Code">
                                    </div>
                                </div>
                                <div class="col">
                                    <br>
                                    <div class="form-group">
                                        <label class="pt-1-2">&nbsp;</label>
                                        <jqxCheckBox (onChange)="Change($event)" #transactCheck [theme]="'energyblue'"> &nbsp; {{ "TRANSACT" | translate }} </jqxCheckBox>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <label class="pt-1-2">&nbsp;</label>
                                        <jqxButton [theme]="'energyblue'" [disabled]="!coiForm.valid" [width]="100" (onClick)="save(coiForm.value)">
                                            {{ "SAVE" | translate }}
                                        </jqxButton>
                                    </div>
                                </div>
                                <div class="w-100"></div>
                                <div class="col">
                                    <!-- <div class=""> -->
                                        <jqxGrid #groupGrid
                                            [width]="'100%'" [source]="gridDataAdapter" [columns]="gridColumns"
                                            [pageable]="false" [height]="360"  [editable]="true"
                                            [autorowheight]="false" [theme]="'energyblue'" [selectionmode]="'checkbox'"
                                            (onRowselect)="rowChange($event)" (onRowunselect)="rowUnChange($event)" 
                                            [showtoolbar]="true" [rendertoolbar]="gridRenderToolbar"
                                            [keyboardnavigation]="true">
                                        </jqxGrid>
                                    <!-- </div> -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>

<jqxNotification #msgNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'success'">
  <div id='message'></div>
</jqxNotification>
<jqxNotification #errNotification [width]="250" [position]="'top-right'" [opacity]="0.9" [autoOpen]="false" [autoClose]="true"
  [animationOpenDelay]="800" [autoCloseDelay]="3000" [template]="'error'">
  <div id='error'></div>
</jqxNotification>
<jqxLoader #jqxLoader [imagePosition]="'top'" [theme]="'energyblue'" [width]="100" [height]="60">
</jqxLoader>

